In [4]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time

- format url with todays date

In [5]:
espn_url = "http://www.espn.com/nba/schedule/_/date/"
todays_date = datetime.now()

formattedDate = str(todays_date.year)+todays_date.strftime('%m')+todays_date.strftime('%d')
espn_url+=formattedDate

- configure selenium and load page

In [6]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(espn_url)
time.sleep(1)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: use options instead of chrome_options
  after removing the cwd from sys.path.

- pandas.io.html to load table with class = schedule
- query database to get last game to increment from

In [7]:
espn_games_list = pd.read_html(driver.page_source,attrs={'class': 'schedule'} )
espn_games=espn_games_list[0]
print(espn_games.columns[2])
espn_games = espn_games[espn_games[espn_games.columns[2]] != 'LIVE']
print(espn_games)
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')


team = pd.read_sql_query('select * from team',con=engine)
team_game = pd.read_sql_query('select game_id,game_number, team_id from game_team order by game_id desc', con=engine)
last_game = 1 if team_game['game_id'].empty else team_game['game_id'].iloc[0]

time  (CT)
             matchup     Unnamed: 1 time  (CT)  nat tv  \
0     San Antonio SA      Utah UTAH    4:00 PM     NaN
1      Cleveland CLE    Indiana IND    6:00 PM     NaN
2      Charlotte CHA    Atlanta ATL    6:30 PM     NaN
3        Toronto TOR    New York NY    6:30 PM     NaN
4             LA LAC     Boston BOS    7:00 PM     NaN
5     Washington WSH    Chicago CHI    7:00 PM     NaN
6     New Orleans NO    Memphis MEM    7:00 PM     NaN
7  Oklahoma City OKC    Houston HOU    7:30 PM     NaN
8        Orlando ORL  Milwaukee MIL    8:00 PM     NaN

                       tickets  Unnamed: 5
0    832 tickets as low as $31         NaN
1  1,291 tickets as low as $21         NaN
2  1,580 tickets as low as $17         NaN
3  2,296 tickets as low as $77         NaN
4  1,276 tickets as low as $75         NaN
5  2,994 tickets as low as $20         NaN
6   1,483 tickets as low as $6         NaN
7  1,919 tickets as low as $51         NaN
8    649 tickets as low as $54         NaN

- get rid of extra columns

In [8]:
cols=[3,4,5]
espn_games.drop(espn_games.columns[cols],axis=1,inplace=True)
espn_games.columns=['away','home', 'time']

- add game_id for app into espn data

In [9]:
for index, row in espn_games.iterrows():
    last_game+=1
    espn_games.at[index,'game_id']=last_game   
espn_games["game_id"] = pd.to_numeric(espn_games["game_id"],downcast='integer')

-

In [10]:
temp=pd.DataFrame(columns=['game_id','team','location','time']);
for index, row in espn_games.iterrows():
    home_team=[row['game_id'],row['home'],'home',row['time']]
    temp.loc[len(temp.index)]=home_team
    away_team=[row['game_id'],row['away'],'away',row['time']]
    temp.loc[len(temp.index)]=away_team

- strip city from city+team in espn
- merge espn dataframe with mySQL team 
- drop extra columns

In [11]:
team=team.rename(columns={"id": "team_id"})
for index, row in temp.iterrows():
    city=row['team'].split(' ')
    city_len=len(city)
    row['team']=" ".join(city[0:(city_len - 1)])
    
temp=temp.merge(team, left_on='team', right_on='city', how='inner')
cols=['abbr','name','sport','conference']
temp.drop(columns=['abbr','name','sport','conference'],inplace=True)

- calc and add each teams game number for the season

In [12]:
for index, row in temp.iterrows():
    gameNum=team_game[team_game.team_id==row.team_id].sort_values(by=['team_id'],ascending=False)
    if not gameNum.empty:
        gameNum=gameNum.iloc[0]['game_number']
        temp.at[index,'game_number']=gameNum+1
    else:
        temp.at[index,'game_number']=1

- create clean dataframe that will be used to load into mySQL

In [13]:
team_game_espn=pd.DataFrame(temp,columns=['game_id','game_number','team_id','location','result','score','time']);  
print(temp)

   game_id           team location     time  team_id           city  \
0       72           Utah     home  4:00 PM       29           Utah
1       72    San Antonio     away  4:00 PM       27    San Antonio
2       73        Indiana     home  6:00 PM       12        Indiana
3       73      Cleveland     away  6:00 PM        6      Cleveland
4       74        Atlanta     home  6:30 PM        1        Atlanta
5       74      Charlotte     away  6:30 PM        4      Charlotte
6       75       New York     home  6:30 PM       20       New York
7       75        Toronto     away  6:30 PM       28        Toronto
8       76         Boston     home  7:00 PM        3         Boston
9       77        Chicago     home  7:00 PM        5        Chicago
10      77     Washington     away  7:00 PM       30     Washington
11      78        Memphis     home  7:00 PM       15        Memphis
12      78    New Orleans     away  7:00 PM       19    New Orleans
13      79        Houston     home  7:30 PM       11        Houston
14      79  Oklahoma City     away  7:30 PM       21  Oklahoma City
15      80      Milwaukee     home  8:00 PM       17      Milwaukee
16      80        Orlando     away  8:00 PM       22        Orlando

    game_number
0           5.0
1           6.0
2           6.0
3           6.0
4           5.0
5           6.0
6           5.0
7           5.0
8           4.0
9           6.0
10          7.0
11          5.0
12          7.0
13          6.0
14          4.0
15          6.0
16          6.0

- format time for mySQL

In [14]:
for index, row in team_game_espn.iterrows():
    hourStr = team_game_espn.at[index,'time']
    hour = datetime.strptime(hourStr, '%H:%M %p')
    game_time=datetime.now().replace(hour=hour.hour, minute=0,second=0, microsecond=0)
    team_game_espn.at[index,'time']=game_time

- load team into mySQL

In [15]:
print ( team_game_espn)

   game_id  game_number  team_id location  result  score                 time
0       72          5.0       29     home     NaN    NaN  2019-02-09 04:00:00
1       72          6.0       27     away     NaN    NaN  2019-02-09 04:00:00
2       73          6.0       12     home     NaN    NaN  2019-02-09 06:00:00
3       73          6.0        6     away     NaN    NaN  2019-02-09 06:00:00
4       74          5.0        1     home     NaN    NaN  2019-02-09 06:00:00
5       74          6.0        4     away     NaN    NaN  2019-02-09 06:00:00
6       75          5.0       20     home     NaN    NaN  2019-02-09 06:00:00
7       75          5.0       28     away     NaN    NaN  2019-02-09 06:00:00
8       76          4.0        3     home     NaN    NaN  2019-02-09 07:00:00
9       77          6.0        5     home     NaN    NaN  2019-02-09 07:00:00
10      77          7.0       30     away     NaN    NaN  2019-02-09 07:00:00
11      78          5.0       15     home     NaN    NaN  2019-02-09 07:00:00
12      78          7.0       19     away     NaN    NaN  2019-02-09 07:00:00
13      79          6.0       11     home     NaN    NaN  2019-02-09 07:00:00
14      79          4.0       21     away     NaN    NaN  2019-02-09 07:00:00
15      80          6.0       17     home     NaN    NaN  2019-02-09 08:00:00
16      80          6.0       22     away     NaN    NaN  2019-02-09 08:00:00

In [16]:
team_game_espn.to_sql(con=engine, name='game_team', if_exists='append',index=False)

In [17]:
games = pd.read_sql_query('select * from game_team',con=engine)
print(games)

      id  game_id  game_number  team_id location                time result  \
0      1        2            1       12     home 2019-01-23 06:00:00   None
1      2        2            1       28     away 2019-01-23 06:00:00   None
2      3        3            1        3     home 2019-01-23 06:00:00   None
3      4        3            1        6     away 2019-01-23 06:00:00   None
4      5        4            1        2     home 2019-01-23 06:00:00   None
5      6        4            1       22     away 2019-01-23 06:00:00   None
6      7        5            1       16     home 2019-01-23 06:00:00   None
7      8        6            1       20     home 2019-01-23 06:00:00   None
8      9        6            1       11     away 2019-01-23 06:00:00   None
9     10        7            1       23     home 2019-01-23 07:00:00   None
10    11        7            1       27     away 2019-01-23 07:00:00   None
11    12        8            1        5     home 2019-01-23 07:00:00   None
12    13        8            1        1     away 2019-01-23 07:00:00   None
13    14        9            1       15     home 2019-01-23 07:00:00   None
14    15        9            1        4     away 2019-01-23 07:00:00   None
15    16       10            1       19     home 2019-01-23 07:00:00   None
16    17       10            1        9     away 2019-01-23 07:00:00   None
17    18       11            1       29     home 2019-01-23 09:00:00   None
18    19       11            1        8     away 2019-01-23 09:00:00   None
19    20       12            1       30     home 2019-01-24 07:00:00   None
20    21       12            1       10     away 2019-01-24 07:00:00   None
21    22       13            1       21     home 2019-01-24 07:00:00   None
22    23       13            2       19     away 2019-01-24 07:00:00   None
23    24       14            1       24     home 2019-01-24 08:00:00   None
24    25       14            1       25     away 2019-01-24 08:00:00   None
25    26       15            1       13     home 2019-01-24 09:00:00   None
26    27       15            1       14     home 2019-01-24 09:00:00   None
27    28       15            1       18     away 2019-01-24 09:00:00   None
28    29       16            2       22     home 2019-01-25 06:00:00   None
29    30       16            2       30     away 2019-01-25 06:00:00   None
..   ...      ...          ...      ...      ...                 ...    ...
127  128       65            6        8     away 2019-02-08 06:00:00   None
128  129       66            6       30     home 2019-02-08 06:00:00   None
129  130       66            5        6     away 2019-02-08 06:00:00   None
130  131       67            6        2     home 2019-02-08 06:00:00   None
131  132       67            5        5     away 2019-02-08 06:00:00   None
132  133       68            4        7     home 2019-02-08 07:00:00   None
133  134       68            5       17     away 2019-02-08 07:00:00   None
134  135       69            6       24     home 2019-02-08 08:00:00   None
135  136       69            4       10     away 2019-02-08 08:00:00   None
136  137       70            6       19     home 2019-02-08 08:00:00   None
137  138       70            6       18     away 2019-02-08 08:00:00   None
138  139       71            5       26     home 2019-02-08 09:00:00   None
139  140       71            5       16     away 2019-02-08 09:00:00   None
140  141       72            5       29     home 2019-02-09 04:00:00   None
141  142       72            6       27     away 2019-02-09 04:00:00   None
142  143       73            6       12     home 2019-02-09 06:00:00   None
143  144       73            6        6     away 2019-02-09 06:00:00   None
144  145       74            5        1     home 2019-02-09 06:00:00   None
145  146       74            6        4     away 2019-02-09 06:00:00   None
146  147       75            5       20     home 2019-02-09 06:00:00   None
147  148       75            5       28     away 2019-02-09 06:00:00   None
148  149       76            4        3     home 2019-02-09 07:00:00   None
149  150       77            6        5     home 2019-02-09 07:00:00   None
150  151       77            7       30     away 2019-02-09 07:00:00   None
151  152       78            5       15     home 2019-02-09 07:00:00   None
152  153       78            7       19     away 2019-02-09 07:00:00   None
153  154       79            6       11     home 2019-02-09 07:00:00   None
154  155       79            4       21     away 2019-02-09 07:00:00   None
155  156       80            6       17     home 2019-02-09 08:00:00   None
156  157       80            6       22     away 2019-02-09 08:00:00   None

    score
0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
10   None
11   None
12   None
13   None
14   None
15   None
16   None
17   None
18   None
19   None
20   None
21   None
22   None
23   None
24   None
25   None
26   None
27   None
28   None
29   None
..    ...
127  None
128  None
129  None
130  None
131  None
132  None
133  None
134  None
135  None
136  None
137  None
138  None
139  None
140  None
141  None
142  None
143  None
144  None
145  None
146  None
147  None
148  None
149  None
150  None
151  None
152  None
153  None
154  None
155  None
156  None

[157 rows x 8 columns]

In [ ]:
n