In [15]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time

- format url with todays date

In [16]:
espn_url = "http://www.espn.com/nba/schedule/_/date/"
todays_date = datetime.now()

formattedDate = str(todays_date.year)+str(todays_date.month)+str(todays_date.day)
espn_url+=formattedDate

- configure selenium and load page

In [17]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(espn_url)
time.sleep(1)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: use options instead of chrome_options
  after removing the cwd from sys.path.

- pandas.io.html to load table with class = schedule
- query database to get last game to increment from

In [18]:
espn_games_list = pd.read_html(driver.page_source,attrs={'class': 'schedule'} )
espn_games=espn_games_list[0]
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')


team = pd.read_sql_query('select * from team',con=engine)
team_game = pd.read_sql_query('select game_id,game_number, team_id from game_team order by game_id desc', con=engine)
last_game = 1 if team_game['game_id'].empty else team_game['game_id'].iloc[0]

- get rid of extra columns

In [19]:
cols=[3,4,5]
espn_games.drop(espn_games.columns[cols],axis=1,inplace=True)
espn_games.columns=['away','home', 'time']

- add game_id for app into espn data

In [20]:
for index, row in espn_games.iterrows():
    last_game+=1
    espn_games.at[index,'game_id']=last_game   
espn_games["game_id"] = pd.to_numeric(espn_games["game_id"],downcast='integer')

-

In [21]:
temp=pd.DataFrame(columns=['game_id','team','location','time']);
for index, row in espn_games.iterrows():
    home_team=[row['game_id'],row['home'],'home',row['time']]
    temp.loc[len(temp.index)]=home_team
    away_team=[row['game_id'],row['away'],'away',row['time']]
    temp.loc[len(temp.index)]=away_team

- strip city from city+team in espn
- merge espn dataframe with mySQL team 
- drop extra columns

In [22]:
team=team.rename(columns={"id": "team_id"})
for index, row in temp.iterrows():
    city=row['team'].split(' ')
    city_len=len(city)
    row['team']=" ".join(city[0:(city_len - 1)])
    
temp=temp.merge(team, left_on='team', right_on='city', how='inner')
cols=['abbr','name','sport','conference']
temp.drop(columns=['abbr','name','sport','conference'],inplace=True)

- calc and add each teams game number for the season

In [23]:
for index, row in temp.iterrows():
    gameNum=team_game[team_game.team_id==row.team_id].sort_values(by=['team_id'],ascending=False)
    if not gameNum.empty:
        gameNum=gameNum.iloc[0]['game_number']
        temp.at[index,'game_number']=gameNum+1
    else:
        temp.at[index,'game_number']=1

- create clean dataframe that will be used to load into mySQL

In [24]:
team_game_espn=pd.DataFrame(temp,columns=['game_id','game_number','team_id','location','result','score','time']);  
print(team_game_espn.dtypes)

game_id         object
game_number    float64
team_id          int64
location        object
result         float64
score          float64
time            object
dtype: object

- format time for mySQL

In [25]:
for index, row in team_game_espn.iterrows():
    hourStr = team_game_espn.at[index,'time']
    hour = datetime.strptime(hourStr, '%H:%M %p')
    game_time=datetime.now().replace(hour=hour.hour, minute=0,second=0, microsecond=0)
    team_game_espn.at[index,'time']=game_time

- load team into mySQL

In [26]:
team_game_espn.to_sql(con=engine, name='game_team', if_exists='append',index=False)