In [4]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time

- format url with todays date

In [5]:
espn_url = "http://www.espn.com/nba/schedule/_/date/"
todays_date = datetime.now()

formattedDate = str(todays_date.year)+todays_date.strftime('%m')+todays_date.strftime('%d')
espn_url+=formattedDate

- configure selenium and load page

In [6]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(espn_url)
time.sleep(1)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: use options instead of chrome_options
  after removing the cwd from sys.path.

- pandas.io.html to load table with class = schedule
- query database to get last game to increment from

In [7]:
espn_games_list = pd.read_html(driver.page_source,attrs={'class': 'schedule'} )
espn_games=espn_games_list[0]
print(espn_games.columns[2])
espn_games = espn_games[espn_games[espn_games.columns[2]] != 'LIVE']
print(espn_games)
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')


team = pd.read_sql_query('select * from team',con=engine)
team_game = pd.read_sql_query('select game_id,game_number, team_id from game_team order by game_id desc', con=engine)
last_game = 1 if team_game['game_id'].empty else team_game['game_id'].iloc[0]

time  (CT)
           matchup         Unnamed: 1 time  (CT) nat tv  \
0           LA LAC      Charlotte CHA    6:00 PM    NaN
1       Boston BOS      Cleveland CLE    6:00 PM    NaN
2  Los Angeles LAL        Indiana IND    6:00 PM    NaN
3      Detroit DET        New York NY    6:30 PM    NaN
4      Toronto TOR   Philadelphia PHI    7:00 PM    TNT
5    Minnesota MIN        Memphis MEM    7:00 PM    NaN
6      Orlando ORL  Oklahoma City OKC    7:00 PM    NaN
7        Miami MIA       Portland POR    9:30 PM    TNT

                       tickets  Unnamed: 5
0   2,353 tickets as low as $5         NaN
1   2,043 tickets as low as $9         NaN
2  1,981 tickets as low as $54         NaN
3  3,135 tickets as low as $33         NaN
4   1,208 tickets as low as $7         NaN
5   2,025 tickets as low as $3         NaN
6     743 tickets as low as $7         NaN
7  1,066 tickets as low as $12         NaN

- get rid of extra columns

In [8]:
cols=[3,4,5]
espn_games.drop(espn_games.columns[cols],axis=1,inplace=True)
espn_games.columns=['away','home', 'time']

- add game_id for app into espn data

In [9]:
for index, row in espn_games.iterrows():
    last_game+=1
    espn_games.at[index,'game_id']=last_game   
espn_games["game_id"] = pd.to_numeric(espn_games["game_id"],downcast='integer')

-

In [10]:
temp=pd.DataFrame(columns=['game_id','team','location','time']);
for index, row in espn_games.iterrows():
    home_team=[row['game_id'],row['home'],'home',row['time']]
    temp.loc[len(temp.index)]=home_team
    away_team=[row['game_id'],row['away'],'away',row['time']]
    temp.loc[len(temp.index)]=away_team

- strip city from city+team in espn
- merge espn dataframe with mySQL team 
- drop extra columns

In [11]:
team=team.rename(columns={"id": "team_id"})
for index, row in temp.iterrows():
    city=row['team'].split(' ')
    city_len=len(city)
    row['team']=" ".join(city[0:(city_len - 1)])
    
temp=temp.merge(team, left_on='team', right_on='city', how='inner')
cols=['abbr','name','sport','conference']
temp.drop(columns=['abbr','name','sport','conference'],inplace=True)

- calc and add each teams game number for the season

In [12]:
for index, row in temp.iterrows():
    gameNum=team_game[team_game.team_id==row.team_id].sort_values(by=['team_id'],ascending=False)
    if not gameNum.empty:
        gameNum=gameNum.iloc[0]['game_number']
        temp.at[index,'game_number']=gameNum+1
    else:
        temp.at[index,'game_number']=1

- create clean dataframe that will be used to load into mySQL

In [13]:
team_game_espn=pd.DataFrame(temp,columns=['game_id','game_number','team_id','location','result','score','time']);  
print(temp)

   game_id           team location     time  team_id           city  \
0       43      Charlotte     home  6:00 PM        4      Charlotte
1       44      Cleveland     home  6:00 PM        6      Cleveland
2       44         Boston     away  6:00 PM        3         Boston
3       45        Indiana     home  6:00 PM       12        Indiana
4       45    Los Angeles     away  6:00 PM       13    Los Angeles
5       45    Los Angeles     away  6:00 PM       14    Los Angeles
6       46       New York     home  6:30 PM       20       New York
7       46        Detroit     away  6:30 PM        9        Detroit
8       47   Philadelphia     home  7:00 PM       23   Philadelphia
9       47        Toronto     away  7:00 PM       28        Toronto
10      48        Memphis     home  7:00 PM       15        Memphis
11      48      Minnesota     away  7:00 PM       18      Minnesota
12      49  Oklahoma City     home  7:00 PM       21  Oklahoma City
13      49        Orlando     away  7:00 PM       22        Orlando
14      50       Portland     home  9:30 PM       25       Portland
15      50          Miami     away  9:30 PM       16          Miami

    game_number
0           4.0
1           4.0
2           2.0
3           4.0
4           3.0
5           3.0
6           3.0
7           4.0
8           3.0
9           3.0
10          3.0
11          4.0
12          2.0
13          4.0
14          2.0
15          4.0

- format time for mySQL

In [14]:
for index, row in team_game_espn.iterrows():
    hourStr = team_game_espn.at[index,'time']
    hour = datetime.strptime(hourStr, '%H:%M %p')
    game_time=datetime.now().replace(hour=hour.hour, minute=0,second=0, microsecond=0)
    team_game_espn.at[index,'time']=game_time

- load team into mySQL

In [15]:
print ( team_game_espn)

   game_id  game_number  team_id location  result  score                 time
0       43          4.0        4     home     NaN    NaN  2019-02-05 06:00:00
1       44          4.0        6     home     NaN    NaN  2019-02-05 06:00:00
2       44          2.0        3     away     NaN    NaN  2019-02-05 06:00:00
3       45          4.0       12     home     NaN    NaN  2019-02-05 06:00:00
4       45          3.0       13     away     NaN    NaN  2019-02-05 06:00:00
5       45          3.0       14     away     NaN    NaN  2019-02-05 06:00:00
6       46          3.0       20     home     NaN    NaN  2019-02-05 06:00:00
7       46          4.0        9     away     NaN    NaN  2019-02-05 06:00:00
8       47          3.0       23     home     NaN    NaN  2019-02-05 07:00:00
9       47          3.0       28     away     NaN    NaN  2019-02-05 07:00:00
10      48          3.0       15     home     NaN    NaN  2019-02-05 07:00:00
11      48          4.0       18     away     NaN    NaN  2019-02-05 07:00:00
12      49          2.0       21     home     NaN    NaN  2019-02-05 07:00:00
13      49          4.0       22     away     NaN    NaN  2019-02-05 07:00:00
14      50          2.0       25     home     NaN    NaN  2019-02-05 09:00:00
15      50          4.0       16     away     NaN    NaN  2019-02-05 09:00:00

In [16]:
team_game_espn.to_sql(con=engine, name='game_team', if_exists='append',index=False)

In [20]:
games = pd.read_sql_query('select * from game_team',con=engine)
print(games)

    id  game_id  game_number  team_id location                time result  \
0    1        2            1       12     home 2019-01-23 06:00:00   None
1    2        2            1       28     away 2019-01-23 06:00:00   None
2    3        3            1        3     home 2019-01-23 06:00:00   None
3    4        3            1        6     away 2019-01-23 06:00:00   None
4    5        4            1        2     home 2019-01-23 06:00:00   None
5    6        4            1       22     away 2019-01-23 06:00:00   None
6    7        5            1       16     home 2019-01-23 06:00:00   None
7    8        6            1       20     home 2019-01-23 06:00:00   None
8    9        6            1       11     away 2019-01-23 06:00:00   None
9   10        7            1       23     home 2019-01-23 07:00:00   None
10  11        7            1       27     away 2019-01-23 07:00:00   None
11  12        8            1        5     home 2019-01-23 07:00:00   None
12  13        8            1        1     away 2019-01-23 07:00:00   None
13  14        9            1       15     home 2019-01-23 07:00:00   None
14  15        9            1        4     away 2019-01-23 07:00:00   None
15  16       10            1       19     home 2019-01-23 07:00:00   None
16  17       10            1        9     away 2019-01-23 07:00:00   None
17  18       11            1       29     home 2019-01-23 09:00:00   None
18  19       11            1        8     away 2019-01-23 09:00:00   None
19  20       12            1       30     home 2019-01-24 07:00:00   None
20  21       12            1       10     away 2019-01-24 07:00:00   None
21  22       13            1       21     home 2019-01-24 07:00:00   None
22  23       13            2       19     away 2019-01-24 07:00:00   None
23  24       14            1       24     home 2019-01-24 08:00:00   None
24  25       14            1       25     away 2019-01-24 08:00:00   None
25  26       15            1       13     home 2019-01-24 09:00:00   None
26  27       15            1       14     home 2019-01-24 09:00:00   None
27  28       15            1       18     away 2019-01-24 09:00:00   None
28  29       16            2       22     home 2019-01-25 06:00:00   None
29  30       16            2       30     away 2019-01-25 06:00:00   None
..  ..      ...          ...      ...      ...                 ...    ...
68  69       36            2       26     home 2019-02-02 09:00:00   None
69  70       36            2       23     away 2019-02-02 09:00:00   None
70  71       37            3        9     home 2019-02-04 06:00:00   None
71  72       37            4        8     away 2019-02-04 06:00:00   None
72  73       38            4       30     home 2019-02-04 06:00:00   None
73  74       38            3        1     away 2019-02-04 06:00:00   None
74  75       39            4        2     home 2019-02-04 06:00:00   None
75  76       39            3       17     away 2019-02-04 06:00:00   None
76  77       40            4       19     home 2019-02-04 07:00:00   None
77  78       40            3       12     away 2019-02-04 07:00:00   None
78  79       41            4       24     home 2019-02-04 08:00:00   None
79  80       41            4       11     away 2019-02-04 08:00:00   None
80  81       42            3       26     home 2019-02-04 09:00:00   None
81  82       42            3       27     away 2019-02-04 09:00:00   None
82  83       43            4        4     home 2019-02-05 06:00:00   None
83  84       44            4        6     home 2019-02-05 06:00:00   None
84  85       44            2        3     away 2019-02-05 06:00:00   None
85  86       45            4       12     home 2019-02-05 06:00:00   None
86  87       45            3       13     away 2019-02-05 06:00:00   None
87  88       45            3       14     away 2019-02-05 06:00:00   None
88  89       46            3       20     home 2019-02-05 06:00:00   None
89  90       46            4        9     away 2019-02-05 06:00:00   None
90  91       47            3       23     home 2019-02-05 07:00:00   None
91  92       47            3       28     away 2019-02-05 07:00:00   None
92  93       48            3       15     home 2019-02-05 07:00:00   None
93  94       48            4       18     away 2019-02-05 07:00:00   None
94  95       49            2       21     home 2019-02-05 07:00:00   None
95  96       49            4       22     away 2019-02-05 07:00:00   None
96  97       50            2       25     home 2019-02-05 09:00:00   None
97  98       50            4       16     away 2019-02-05 09:00:00   None

   score
0   None
1   None
2   None
3   None
4   None
5   None
6   None
7   None
8   None
9   None
10  None
11  None
12  None
13  None
14  None
15  None
16  None
17  None
18  None
19  None
20  None
21  None
22  None
23  None
24  None
25  None
26  None
27  None
28  None
29  None
..   ...
68  None
69  None
70  None
71  None
72  None
73  None
74  None
75  None
76  None
77  None
78  None
79  None
80  None
81  None
82  None
83  None
84  None
85  None
86  None
87  None
88  None
89  None
90  None
91  None
92  None
93  None
94  None
95  None
96  None
97  None

[98 rows x 8 columns]