In [1]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time
from selenium.webdriver.common.by import By

- create connection with sqlAlchemy -> mySQL
- load team and games for those teams

In [2]:
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')

todays_date = datetime.now()
todays_date = todays_date.strftime('%Y-%m-%d')
yesterdays_date=(datetime.now()-timedelta(days=1)).strftime('%Y-%m-%d')
player_detail_query="""select pd.id, pd.player_id,pd.team_id, pd.game_id, pd.salary, 
pd.proj_score,pd.date,CONCAT(p.first_name,' ', p.last_name) as Name 
from player_detail pd inner join player p on pd.player_id=p.id 
WHERE date >= '{0}' AND date < '{1}'""".format(yesterdays_date,todays_date)
player_detail_df=pd.read_sql_query(player_detail_query, con=engine)
print(player_detail_df.head(5))

     id  player_id  team_id  game_id  salary  proj_score                date  \
0  1933       3633        3      179    5200          25 2019-02-12 07:00:00
1  1934       3634        3      179    3500           1 2019-02-12 07:00:00
2  1935       3635        3      179    5300          24 2019-02-12 07:00:00
3  1936       3636        3      179    7500          34 2019-02-12 07:00:00
4  1937       3639        3      179    5100          26 2019-02-12 07:00:00

             Name
0    Jaylen Brown
1       PJ Dozier
2  Gordon Hayward
3      Al Horford
4   Marcus Morris

- get list of team_ids to build filter for players of these teams
- join players with games and format names to swishananalytics format

- configure selenium and load page

In [3]:
#config section need to get rid of password
print(yesterdays_date)
points_url = "https://swishanalytics.com/optimus/nba/fanduel-draftkings-live-scoring?date={0}".format(yesterdays_date)
print(points_url)
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(points_url)
time.sleep(1)

2019-02-12
https://swishanalytics.com/optimus/nba/fanduel-draftkings-live-scoring?date=2019-02-12

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: use options instead of chrome_options

- use selenoim to find and click button for fanduel table
- use pandas.io.html to load table
- join players with new salaries info
- format dataframe

In [4]:
driver.find_element_by_class_name("img-center").click()
points_list = pd.read_html(driver.page_source,attrs={'id': 'stat-table'} )
points=points_list[0]

points['Name'] = points['Name'].str.split(' ')
for index,row in points.iterrows():
    points.at[index,'Name']=" ".join(row['Name'][0:len(row['Name'])-1])
    points.at[index,'Pos']=row['Name'][-1].strip('()')


points.drop(
    columns=['Pos','Next Game','Salary','Min', 'Reb','Ast','Stl','Blk','TO','Value','Avg Pts', 'Live Proj','PTs'],
    inplace=True)
player_detail_df=player_detail_df.merge(points, left_on='Name', right_on='Name')
player_detail_df.rename(columns={'Live Pts':'act_score'},inplace=True)
print(player_detail_df.head(5))

     id  player_id  team_id  game_id  salary  proj_score                date  \
0  1933       3633        3      179    5200          25 2019-02-12 07:00:00
1  1934       3634        3      179    3500           1 2019-02-12 07:00:00
2  1935       3635        3      179    5300          24 2019-02-12 07:00:00
3  1936       3636        3      179    7500          34 2019-02-12 07:00:00
4  1937       3639        3      179    5100          26 2019-02-12 07:00:00

             Name  act_score
0    Jaylen Brown      11.25
1       PJ Dozier       0.00
2  Gordon Hayward      39.50
3      Al Horford      49.50
4   Marcus Morris      30.50

In [5]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import update
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)
player_detail=Base.classes.player_detail

session = Session(engine)

for index,row in player_detail_df.iterrows():
    print(row.id)
    print(row.act_score)
    session.query(player_detail).filter(player_detail.id == row.id).update({'act_score': row.act_score})
    session.commit()
    session.flush()

1933
11.25
1934
0.0
1935
39.5
1936
49.5
1937
30.5
1938
0.0
1939
21.5
1940
19.0
1941
43.5
1942
10.75
1943
2.75
1944
0.0
1945
0.0
1946
0.0
1947
34.75
1948
50.5
1949
0.0
1950
5.0
1951
15.5
1952
0.0
1953
32.25
1954
0.0
1955
14.0
1956
32.25
1957
37.5
1958
16.75
1959
15.5
1960
36.75
1961
12.5
1962
0.0
1963
19.5
1964
31.5
1965
0.0
1966
0.0
1967
0.0
1968
4.75
1969
37.0
1970
49.75
1971
0.0
1972
41.5
1973
31.25
1974
31.25
1975
2.25
1976
6.75
1977
6.0
1978
7.5
1979
33.5
1980
52.0
1981
22.5
1982
12.0
1983
2.75
1984
23.0
1986
28.0
1987
78.75
1988
29.75
1989
10.5
1990
29.75
1991
8.75
1992
3.25
1994
0.0
1995
21.25
1996
24.25
1997
36.5
1998
22.75
2000
12.75
2001
15.0
2002
12.25
2003
54.5
2004
16.25
2005
17.25
2006
29.0
2007
36.0
2008
35.0
2009
5.5
2010
36.75
2012
5.75
2013
4.75
2014
9.25
2015
11.75
2016
56.75
2017
9.0
2019
18.0
2020
23.0
2021
7.25
2022
0.0
2023
0.0
2024
16.5
2025
0.75
2026
24.5
2027
0.0
2028
35.25
2029
6.75
2030
18.0
2031
26.75
2032
21.25
2033
30.0
2034
11.75
2035
47.75
2036
16.5
2037
0.75
2038
28.5
2040
21.5
2041
0.0
2042
46.0
2043
0.0
2044
7.75
2045
0.0

- clean up inconsistencies

In [6]:

player_detail_query="select * from player_detail WHERE date >= '{0}' AND date < '{1}'".format(yesterdays_date,todays_date)
players=pd.read_sql_query(player_detail_query, con=engine)
print(players)

       id  player_id  team_id  game_id  salary  act_score  proj_score  \
0    1933       3633        3      179    5200       11.0          25
1    1934       3634        3      179    3500        0.0           1
2    1935       3635        3      179    5300       40.0          24
3    1936       3636        3      179    7500       50.0          34
4    1937       3639        3      179    5100       30.0          26
5    1938       3640        3      179    3500        0.0           2
6    1939       3641        3      179    7200       22.0          32
7    1940       3642        3      179    5400       19.0          24
8    1941       3643        3      179    7200       44.0          34
9    1942       3644        3      179    4000       11.0          17
10   1943       3645        3      179    3500        3.0           9
11   1944       3646        3      179    3600        0.0           2
12   1945       3647        3      179    3500        0.0           2
13   1946       3682       23      178    3500        0.0           1
14   1947       3684       23      178    8200       35.0          33
15   1948       3686       23      178   11700       50.0          50
16   1949       3689       23      178    3600        0.0           1
17   1950       3690       23      178    3600        5.0           5
18   1951       3691       23      178    4000       16.0          15
19   1952       3693       23      178    3500        0.0          10
20   1953       3697       23      178    8800       32.0          41
21   1954       3863       29      185    3500        0.0           1
22   1955       3866       29      185    8000       14.0          21
23   1956       3868       29      185    9500       32.0          25
24   1957       3869       29      185    9000       38.0          42
25   1958       3870       29      185   10000       17.0          25
26   1959       3871       29      185    3600       16.0          14
27   1960       3872       29      185   14000       37.0          40
28   1961       3874       29      185    3500       12.0           8
29   1962       3875       29      185    3500        0.0           3
..    ...        ...      ...      ...     ...        ...         ...
83   2016       4028       22      183    9900       57.0          47
84   2017       4080       15      180    3500        9.0          10
85   2018       4082       15      180    8700        NaN          40
86   2019       4085       15      180    5300       18.0          24
87   2020       4088       15      180    3700       23.0          21
88   2021       4090       15      180    6400        7.0          29
89   2022       4093       15      180    3500        0.0           3
90   2023       4095       19      182    3500        0.0           2
91   2024       4096       19      182   12500       16.0          52
92   2025       4097       19      182    4200        1.0           3
93   2026       4098       19      182    4600       24.0          15
94   2027       4099       19      182    3500        0.0           1
95   2028       4100       19      182    9500       35.0          38
96   2029       4101       19      182    3800        7.0          15
97   2030       4103       19      182    4500       18.0          16
98   2031       4105       19      182    4100       27.0          11
99   2032       4106       19      182    5000       21.0          19
100  2033       4108       19      182    8100       30.0          31
101  2034       4109       19      182    6400       12.0          22
102  2035       4110       27      181    8200       48.0          40
103  2036       4111       27      181    4200       16.0          17
104  2037       4113       27      181    3500        1.0           9
105  2038       4114       27      181    8100       28.0          37
106  2039       4115       27      181    3500        NaN           2
107  2040       4116       27      181    4100       22.0          19
108  2041       4117       27      181    3500        0.0           4
109  2042       4118       27      181    5900       46.0          27
110  2043       4119       27      181    3500        0.0           2
111  2044       4123       27      181    3900        8.0          11
112  2045       4124       27      181    3500        0.0           3

                   date
0   2019-02-12 07:00:00
1   2019-02-12 07:00:00
2   2019-02-12 07:00:00
3   2019-02-12 07:00:00
4   2019-02-12 07:00:00
5   2019-02-12 07:00:00
6   2019-02-12 07:00:00
7   2019-02-12 07:00:00
8   2019-02-12 07:00:00
9   2019-02-12 07:00:00
10  2019-02-12 07:00:00
11  2019-02-12 07:00:00
12  2019-02-12 07:00:00
13  2019-02-12 07:00:00
14  2019-02-12 07:00:00
15  2019-02-12 07:00:00
16  2019-02-12 07:00:00
17  2019-02-12 07:00:00
18  2019-02-12 07:00:00
19  2019-02-12 07:00:00
20  2019-02-12 07:00:00
21  2019-02-12 09:00:00
22  2019-02-12 09:00:00
23  2019-02-12 09:00:00
24  2019-02-12 09:00:00
25  2019-02-12 09:00:00
26  2019-02-12 09:00:00
27  2019-02-12 09:00:00
28  2019-02-12 09:00:00
29  2019-02-12 09:00:00
..                  ...
83  2019-02-12 07:00:00
84  2019-02-12 07:00:00
85  2019-02-12 07:00:00
86  2019-02-12 07:00:00
87  2019-02-12 07:00:00
88  2019-02-12 07:00:00
89  2019-02-12 07:00:00
90  2019-02-12 07:00:00
91  2019-02-12 07:00:00
92  2019-02-12 07:00:00
93  2019-02-12 07:00:00
94  2019-02-12 07:00:00
95  2019-02-12 07:00:00
96  2019-02-12 07:00:00
97  2019-02-12 07:00:00
98  2019-02-12 07:00:00
99  2019-02-12 07:00:00
100 2019-02-12 07:00:00
101 2019-02-12 07:00:00
102 2019-02-12 07:00:00
103 2019-02-12 07:00:00
104 2019-02-12 07:00:00
105 2019-02-12 07:00:00
106 2019-02-12 07:00:00
107 2019-02-12 07:00:00
108 2019-02-12 07:00:00
109 2019-02-12 07:00:00
110 2019-02-12 07:00:00
111 2019-02-12 07:00:00
112 2019-02-12 07:00:00

[113 rows x 8 columns]

- load dataframe into mySQ