In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pandas import DataFrame, Series
from pandas.io.html import read_html
from bs4 import BeautifulSoup
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import platform
import time
from selenium.webdriver.common.by import By

- create connection with sqlAlchemy -> mySQL
- load team and games for those teams

In [2]:
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')
team_df = pd.read_sql_query('select * from team',con=engine)
todays_date = datetime.now()
todays_date = todays_date.strftime('%Y-%m-%d')
tomorrows_date=(datetime.now()+timedelta(days=1)).strftime('%Y-%m-%d')
query="select * from game_team WHERE time >= '{0}' AND time < '{1}'".format(todays_date,tomorrows_date)
game_team=pd.read_sql_query(query, con=engine)

In [3]:
print(game_team)

     id  game_id  game_number  team_id location                time result  \
0   186       95            8        6     home 2019-02-13 06:00:00   None
1   187       95            8        2     away 2019-02-13 06:00:00   None
2   188       96            8       12     home 2019-02-13 06:00:00   None
3   189       96            8       17     away 2019-02-13 06:00:00   None
4   190       97            6        3     home 2019-02-13 06:00:00   None
5   191       97            7        9     away 2019-02-13 06:00:00   None
6   192       98            7       20     home 2019-02-13 06:00:00   None
7   193       98            6       23     away 2019-02-13 06:00:00   None
8   194       99            7       28     home 2019-02-13 06:00:00   None
9   195       99            9       30     away 2019-02-13 06:00:00   None
10  196      100            8        5     home 2019-02-13 07:00:00   None
11  197      100            7       15     away 2019-02-13 07:00:00   None
12  198      101            8       18     home 2019-02-13 07:00:00   None
13  199      101            8       11     away 2019-02-13 07:00:00   None
14  200      102            6        7     home 2019-02-13 07:00:00   None
15  201      102            7       16     away 2019-02-13 07:00:00   None
16  202      103            8        8     home 2019-02-13 08:00:00   None
17  203      103            6       26     away 2019-02-13 08:00:00   None
18  204      104            5       25     home 2019-02-13 09:00:00   None
19  205      104            6       10     away 2019-02-13 09:00:00   None
20  206      105            7       24     away 2019-02-13 09:00:00   None

   score
0   None
1   None
2   None
3   None
4   None
5   None
6   None
7   None
8   None
9   None
10  None
11  None
12  None
13  None
14  None
15  None
16  None
17  None
18  None
19  None
20  None

- get list of team_ids to build filter for players of these teams
- join players with games and format names to swishananalytics format

In [4]:
game_list=game_team['team_id'].tolist()
game_list=",".join(map(str,game_list))
query="select * from player where team_id in ({0})".format(game_list)
players=pd.read_sql_query(query,con=engine)
players=players.merge(game_team[['id','team_id','time']], left_on='team_id', right_on='team_id', how='inner')
players.rename(columns={'id_x': 'id', 'id_y': 'game_id'}, inplace=True)
for index,row in players.iterrows():
    players.at[index,'full_name']=row['first_name'] + " " + row['last_name']
print (players)

       id first_name         last_name pos  team_id  game_id  \
0    3631       Aron            Baynes   C        3      190
1    3632     Jabari              Bird  SG        3      190
2    3633     Jaylen             Brown  SG        3      190
3    3634         PJ            Dozier  PG        3      190
4    3635     Gordon           Hayward  SF        3      190
5    3636         Al           Horford   C        3      190
6    3637         RJ            Hunter  SG        3      190
7    3638      Kyrie            Irving  PG        3      190
8    3639     Marcus            Morris  PF        3      190
9    3640       Semi           Ojeleye  PF        3      190
10   3641      Terry            Rozier  PG        3      190
11   3642     Marcus             Smart  PG        3      190
12   3643     Jayson             Tatum  PF        3      190
13   3644     Daniel             Theis  PF        3      190
14   3645       Brad         Wanamaker  PG        3      190
15   3646     Robert          Williams   C        3      190
16   3647  Guerschon          Yabusele  PF        3      190
17   3648    Jarrett             Allen   C        2      187
18   3649    DeMarre           Carroll  SF        2      187
19   3650      Allen            Crabbe  SG        2      187
20   3651         Ed             Davis  PF        2      187
21   3652    Spencer         Dinwiddie  PG        2      187
22   3653      Jared            Dudley  SF        2      187
23   3654    Kenneth            Faried  PF        2      187
24   3655    Treveon            Graham  SG        2      187
25   3656        Joe            Harris  SF        2      187
26   3657     Rondae  Hollis-Jefferson  SF        2      187
27   3658    Rodions            Kurucs  SF        2      187
28   3659      Caris            LeVert  SG        2      187
29   3660     Dzanan              Musa  SG        2      187
..    ...        ...               ...  ..      ...      ...
316  4064       Gary             Clark  PF       11      199
317  4065    Vincent           Edwards  SF       11      199
318  4066      James         Ennis III  SF       11      199
319  4067       Eric            Gordon  SG       11      199
320  4068     Gerald             Green  SG       11      199
321  4069      James            Harden  PG       11      199
322  4070     Isaiah       Hartenstein  PF       11      199
323  4071       Nene           Hilario   C       11      199
324  4072     Danuel         House Jr.  SF       11      199
325  4073    Brandon            Knight  PG       11      199
326  4074      James          Nunnally  SF       11      199
327  4075      Chris              Paul  PG       11      199
328  4076     Austin            Rivers  PG       11      199
329  4077         PJ            Tucker  SF       11      199
330  4078       Kyle          Anderson  SF       15      197
331  4079     Dillon            Brooks  SG       15      197
332  4080      Jevon            Carter  PG       15      197
333  4081       Omri            Casspi  SF       15      197
334  4082       Mike            Conley  PG       15      197
335  4083       Marc             Gasol   C       15      197
336  4084   JaMychal             Green  PF       15      197
337  4085     Justin           Holiday  SF       15      197
338  4086      Jaren       Jackson Jr.  PF       15      197
339  4087    Shelvin              Mack  PG       15      197
340  4088     Joakim              Noah   C       15      197
341  4089   Chandler           Parsons  SF       15      197
342  4090       Ivan              Rabb  PF       15      197
343  4091    Garrett            Temple  SG       15      197
344  4092     Julian          Washburn  SF       15      197
345  4093       Yuta          Watanabe   G       15      197

                   time                full_name
0   2019-02-13 06:00:00              Aron Baynes
1   2019-02-13 06:00:00              Jabari Bird
2   2019-02-13 06:00:00             Jaylen Brown
3   2019-02-13 06:00:00                PJ Dozier
4   2019-02-13 06:00:00           Gordon Hayward
5   2019-02-13 06:00:00               Al Horford
6   2019-02-13 06:00:00                RJ Hunter
7   2019-02-13 06:00:00             Kyrie Irving
8   2019-02-13 06:00:00            Marcus Morris
9   2019-02-13 06:00:00             Semi Ojeleye
10  2019-02-13 06:00:00             Terry Rozier
11  2019-02-13 06:00:00             Marcus Smart
12  2019-02-13 06:00:00             Jayson Tatum
13  2019-02-13 06:00:00             Daniel Theis
14  2019-02-13 06:00:00           Brad Wanamaker
15  2019-02-13 06:00:00          Robert Williams
16  2019-02-13 06:00:00       Guerschon Yabusele
17  2019-02-13 06:00:00            Jarrett Allen
18  2019-02-13 06:00:00          DeMarre Carroll
19  2019-02-13 06:00:00             Allen Crabbe
20  2019-02-13 06:00:00                 Ed Davis
21  2019-02-13 06:00:00        Spencer Dinwiddie
22  2019-02-13 06:00:00             Jared Dudley
23  2019-02-13 06:00:00           Kenneth Faried
24  2019-02-13 06:00:00           Treveon Graham
25  2019-02-13 06:00:00               Joe Harris
26  2019-02-13 06:00:00  Rondae Hollis-Jefferson
27  2019-02-13 06:00:00           Rodions Kurucs
28  2019-02-13 06:00:00             Caris LeVert
29  2019-02-13 06:00:00              Dzanan Musa
..                  ...                      ...
316 2019-02-13 07:00:00               Gary Clark
317 2019-02-13 07:00:00          Vincent Edwards
318 2019-02-13 07:00:00          James Ennis III
319 2019-02-13 07:00:00              Eric Gordon
320 2019-02-13 07:00:00             Gerald Green
321 2019-02-13 07:00:00             James Harden
322 2019-02-13 07:00:00       Isaiah Hartenstein
323 2019-02-13 07:00:00             Nene Hilario
324 2019-02-13 07:00:00         Danuel House Jr.
325 2019-02-13 07:00:00           Brandon Knight
326 2019-02-13 07:00:00           James Nunnally
327 2019-02-13 07:00:00               Chris Paul
328 2019-02-13 07:00:00            Austin Rivers
329 2019-02-13 07:00:00                PJ Tucker
330 2019-02-13 07:00:00            Kyle Anderson
331 2019-02-13 07:00:00            Dillon Brooks
332 2019-02-13 07:00:00             Jevon Carter
333 2019-02-13 07:00:00              Omri Casspi
334 2019-02-13 07:00:00              Mike Conley
335 2019-02-13 07:00:00               Marc Gasol
336 2019-02-13 07:00:00           JaMychal Green
337 2019-02-13 07:00:00           Justin Holiday
338 2019-02-13 07:00:00        Jaren Jackson Jr.
339 2019-02-13 07:00:00             Shelvin Mack
340 2019-02-13 07:00:00              Joakim Noah
341 2019-02-13 07:00:00         Chandler Parsons
342 2019-02-13 07:00:00                Ivan Rabb
343 2019-02-13 07:00:00           Garrett Temple
344 2019-02-13 07:00:00          Julian Washburn
345 2019-02-13 07:00:00            Yuta Watanabe

[346 rows x 8 columns]

- configure selenium and load page

In [5]:
#config section need to get rid of password
salary_url = "https://swishanalytics.com/optimus/nba/daily-fantasy-salary-changes"
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(salary_url)
time.sleep(1)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: use options instead of chrome_options

- use selenoim to find and click button for fanduel table
- use pandas.io.html to load table
- join players with new salaries info
- format dataframe

In [6]:
driver.find_element_by_xpath("//button[@site='fd']").click()
salaries_list = pd.read_html(driver.page_source,attrs={'id': 'stat-table'} )
salaries=salaries_list[0]
player_detail=players.merge(salaries, left_on='full_name', right_on='Player', how='inner')
player_detail.drop(
    columns=['Position','Player','Change','Avg Fantasy Pts', 'Diff','first_name','last_name','full_name','pos'],
    inplace=True)

In [7]:
print(player_detail)

       id  team_id  game_id                time   Salary  Proj Fantasy Pts
0    3633        3      190 2019-02-13 06:00:00   $5,200             24.13
1    3634        3      190 2019-02-13 06:00:00   $3,500              2.00
2    3635        3      190 2019-02-13 06:00:00   $5,300             24.63
3    3636        3      190 2019-02-13 06:00:00   $7,500             35.69
4    3639        3      190 2019-02-13 06:00:00   $5,100             25.81
5    3640        3      190 2019-02-13 06:00:00   $3,500              2.13
6    3641        3      190 2019-02-13 06:00:00   $7,200             32.62
7    3642        3      190 2019-02-13 06:00:00   $5,400             25.50
8    3643        3      190 2019-02-13 06:00:00   $7,200             33.00
9    3644        3      190 2019-02-13 06:00:00   $4,000             18.19
10   3645        3      190 2019-02-13 06:00:00   $3,500              7.08
11   3646        3      190 2019-02-13 06:00:00   $3,600              2.54
12   3647        3      190 2019-02-13 06:00:00   $3,500              2.33
13   3648        2      187 2019-02-13 06:00:00   $5,700             30.32
14   3649        2      187 2019-02-13 06:00:00   $5,000             19.29
15   3650        2      187 2019-02-13 06:00:00   $4,000             17.69
16   3651        2      187 2019-02-13 06:00:00   $4,100             16.61
17   3654        2      187 2019-02-13 06:00:00   $6,800             32.43
18   3655        2      187 2019-02-13 06:00:00   $3,500             11.70
19   3656        2      187 2019-02-13 06:00:00   $5,300             23.32
20   3657        2      187 2019-02-13 06:00:00   $4,000             18.17
21   3658        2      187 2019-02-13 06:00:00   $3,500             12.62
22   3659        2      187 2019-02-13 06:00:00   $5,200             23.86
23   3661        2      187 2019-02-13 06:00:00   $5,100             18.20
24   3663        2      187 2019-02-13 06:00:00   $9,000             42.01
25   3666       20      192 2019-02-13 06:00:00   $4,300             15.89
26   3667       20      192 2019-02-13 06:00:00   $3,700             15.62
27   3668       20      192 2019-02-13 06:00:00   $5,600             24.42
28   3669       20      192 2019-02-13 06:00:00   $4,200             18.46
29   3672       20      192 2019-02-13 06:00:00   $5,300             27.17
..    ...      ...      ...                 ...      ...               ...
193  4042       30      195 2019-02-13 06:00:00   $6,500             21.49
194  4046        7      200 2019-02-13 07:00:00   $5,400             25.40
195  4047        7      200 2019-02-13 07:00:00   $3,500              4.39
196  4048        7      200 2019-02-13 07:00:00   $4,500             18.93
197  4049        7      200 2019-02-13 07:00:00   $9,800             44.46
198  4050        7      200 2019-02-13 07:00:00   $5,000             23.15
199  4051        7      200 2019-02-13 07:00:00   $3,500             10.49
200  4052        7      200 2019-02-13 07:00:00   $6,100             29.89
201  4055        7      200 2019-02-13 07:00:00   $4,400             20.33
202  4056        7      200 2019-02-13 07:00:00   $3,500              2.25
203  4057        7      200 2019-02-13 07:00:00   $3,500             11.68
204  4058        7      200 2019-02-13 07:00:00   $5,600             23.12
205  4063       11      199 2019-02-13 07:00:00   $4,300             19.74
206  4064       11      199 2019-02-13 07:00:00   $3,500              1.49
207  4067       11      199 2019-02-13 07:00:00   $5,000             23.71
208  4068       11      199 2019-02-13 07:00:00   $4,300             17.08
209  4069       11      199 2019-02-13 07:00:00  $12,800             60.74
210  4070       11      199 2019-02-13 07:00:00   $3,500              6.04
211  4071       11      199 2019-02-13 07:00:00   $3,500              6.82
212  4073       11      199 2019-02-13 07:00:00   $3,500             13.98
213  4075       11      199 2019-02-13 07:00:00   $8,200             35.69
214  4080       15      197 2019-02-13 07:00:00   $3,500              8.21
215  4082       15      197 2019-02-13 07:00:00   $8,500             22.36
216  4083       15      197 2019-02-13 07:00:00   $7,000             27.83
217  4084       15      197 2019-02-13 07:00:00   $4,100             18.53
218  4085       15      197 2019-02-13 07:00:00   $5,000             24.40
219  4088       15      197 2019-02-13 07:00:00   $3,700             17.31
220  4090       15      197 2019-02-13 07:00:00   $6,500             21.89
221  4091       15      197 2019-02-13 07:00:00   $3,700             13.58
222  4093       15      197 2019-02-13 07:00:00   $3,500              1.16

[223 rows x 6 columns]

`- clean up inconsistencies

In [8]:
player_detail.rename(columns={'Proj Fantasy Pts':'proj_score','id':'player_id','time':'date'},inplace=True)
player_detail['Salary'] = player_detail['Salary'].replace({'\$': '', ',': ''}, regex=True)
print(player_detail)
player_detail["Salary"] = pd.to_numeric(player_detail["Salary"],downcast='integer')

     player_id  team_id  game_id                date Salary  proj_score
0         3633        3      190 2019-02-13 06:00:00   5200       24.13
1         3634        3      190 2019-02-13 06:00:00   3500        2.00
2         3635        3      190 2019-02-13 06:00:00   5300       24.63
3         3636        3      190 2019-02-13 06:00:00   7500       35.69
4         3639        3      190 2019-02-13 06:00:00   5100       25.81
5         3640        3      190 2019-02-13 06:00:00   3500        2.13
6         3641        3      190 2019-02-13 06:00:00   7200       32.62
7         3642        3      190 2019-02-13 06:00:00   5400       25.50
8         3643        3      190 2019-02-13 06:00:00   7200       33.00
9         3644        3      190 2019-02-13 06:00:00   4000       18.19
10        3645        3      190 2019-02-13 06:00:00   3500        7.08
11        3646        3      190 2019-02-13 06:00:00   3600        2.54
12        3647        3      190 2019-02-13 06:00:00   3500        2.33
13        3648        2      187 2019-02-13 06:00:00   5700       30.32
14        3649        2      187 2019-02-13 06:00:00   5000       19.29
15        3650        2      187 2019-02-13 06:00:00   4000       17.69
16        3651        2      187 2019-02-13 06:00:00   4100       16.61
17        3654        2      187 2019-02-13 06:00:00   6800       32.43
18        3655        2      187 2019-02-13 06:00:00   3500       11.70
19        3656        2      187 2019-02-13 06:00:00   5300       23.32
20        3657        2      187 2019-02-13 06:00:00   4000       18.17
21        3658        2      187 2019-02-13 06:00:00   3500       12.62
22        3659        2      187 2019-02-13 06:00:00   5200       23.86
23        3661        2      187 2019-02-13 06:00:00   5100       18.20
24        3663        2      187 2019-02-13 06:00:00   9000       42.01
25        3666       20      192 2019-02-13 06:00:00   4300       15.89
26        3667       20      192 2019-02-13 06:00:00   3700       15.62
27        3668       20      192 2019-02-13 06:00:00   5600       24.42
28        3669       20      192 2019-02-13 06:00:00   4200       18.46
29        3672       20      192 2019-02-13 06:00:00   5300       27.17
..         ...      ...      ...                 ...    ...         ...
193       4042       30      195 2019-02-13 06:00:00   6500       21.49
194       4046        7      200 2019-02-13 07:00:00   5400       25.40
195       4047        7      200 2019-02-13 07:00:00   3500        4.39
196       4048        7      200 2019-02-13 07:00:00   4500       18.93
197       4049        7      200 2019-02-13 07:00:00   9800       44.46
198       4050        7      200 2019-02-13 07:00:00   5000       23.15
199       4051        7      200 2019-02-13 07:00:00   3500       10.49
200       4052        7      200 2019-02-13 07:00:00   6100       29.89
201       4055        7      200 2019-02-13 07:00:00   4400       20.33
202       4056        7      200 2019-02-13 07:00:00   3500        2.25
203       4057        7      200 2019-02-13 07:00:00   3500       11.68
204       4058        7      200 2019-02-13 07:00:00   5600       23.12
205       4063       11      199 2019-02-13 07:00:00   4300       19.74
206       4064       11      199 2019-02-13 07:00:00   3500        1.49
207       4067       11      199 2019-02-13 07:00:00   5000       23.71
208       4068       11      199 2019-02-13 07:00:00   4300       17.08
209       4069       11      199 2019-02-13 07:00:00  12800       60.74
210       4070       11      199 2019-02-13 07:00:00   3500        6.04
211       4071       11      199 2019-02-13 07:00:00   3500        6.82
212       4073       11      199 2019-02-13 07:00:00   3500       13.98
213       4075       11      199 2019-02-13 07:00:00   8200       35.69
214       4080       15      197 2019-02-13 07:00:00   3500        8.21
215       4082       15      197 2019-02-13 07:00:00   8500       22.36
216       4083       15      197 2019-02-13 07:00:00   7000       27.83
217       4084       15      197 2019-02-13 07:00:00   4100       18.53
218       4085       15      197 2019-02-13 07:00:00   5000       24.40
219       4088       15      197 2019-02-13 07:00:00   3700       17.31
220       4090       15      197 2019-02-13 07:00:00   6500       21.89
221       4091       15      197 2019-02-13 07:00:00   3700       13.58
222       4093       15      197 2019-02-13 07:00:00   3500        1.16

[223 rows x 6 columns]

- load dataframe into mySQ

In [9]:
player_detail.to_sql(con=engine, name='player_detail', if_exists='append',index=False)