In [1]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time
from selenium.webdriver.common.by import By

- create connection with sqlAlchemy -> mySQL
- load team and games for those teams

In [2]:
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')
team_df = pd.read_sql_query('select * from team',con=engine)
todays_date = datetime.now()
todays_date = todays_date.strftime('%Y-%m-%d')
tomorrows_date=(datetime.now()+timedelta(days=1)).strftime('%Y-%m-%d')
query="select * from game_team WHERE time >= '{0}' AND time < '{1}'".format(todays_date,tomorrows_date)
game_team=pd.read_sql_query(query, con=engine)

- get list of team_ids to build filter for players of these teams
- join players with games and format names to swishananalytics format

In [3]:
game_list=game_team['team_id'].tolist()
game_list=",".join(map(str,game_list))
query="select * from player where team_id in ({0})".format(game_list)
players=pd.read_sql_query(query,con=engine)
players=players.merge(game_team[['game_id','team_id','time']], left_on='team_id', right_on='team_id', how='inner')
for index,row in players.iterrows():
    players.at[index,'full_name']=row['first_name'] + " " + row['last_name']
print (players)

       id first_name     last_name pos  team_id  game_id                time  \
0    3631       Aron        Baynes   C        3       44 2019-02-05 06:00:00
1    3632     Jabari          Bird  SG        3       44 2019-02-05 06:00:00
2    3633     Jaylen         Brown  SG        3       44 2019-02-05 06:00:00
3    3634         PJ        Dozier  PG        3       44 2019-02-05 06:00:00
4    3635     Gordon       Hayward  SF        3       44 2019-02-05 06:00:00
5    3636         Al       Horford   C        3       44 2019-02-05 06:00:00
6    3637         RJ        Hunter  SG        3       44 2019-02-05 06:00:00
7    3638      Kyrie        Irving  PG        3       44 2019-02-05 06:00:00
8    3639     Marcus        Morris  PF        3       44 2019-02-05 06:00:00
9    3640       Semi       Ojeleye  PF        3       44 2019-02-05 06:00:00
10   3641      Terry        Rozier  PG        3       44 2019-02-05 06:00:00
11   3642     Marcus         Smart  PG        3       44 2019-02-05 06:00:00
12   3643     Jayson         Tatum  SF        3       44 2019-02-05 06:00:00
13   3644     Daniel         Theis  PF        3       44 2019-02-05 06:00:00
14   3645       Brad     Wanamaker  PG        3       44 2019-02-05 06:00:00
15   3646     Robert      Williams   C        3       44 2019-02-05 06:00:00
16   3647  Guerschon      Yabusele  PF        3       44 2019-02-05 06:00:00
17   3665     Kadeem         Allen  SG       20       46 2019-02-05 06:00:00
18   3666       Trey         Burke  PG       20       46 2019-02-05 06:00:00
19   3667    Damyean        Dotson  SG       20       46 2019-02-05 06:00:00
20   3668        Tim  Hardaway Jr.   G       20       46 2019-02-05 06:00:00
21   3669      Mario       Hezonja  SF       20       46 2019-02-05 06:00:00
22   3670     Isaiah         Hicks  PF       20       46 2019-02-05 06:00:00
23   3671       Enes        Kanter   C       20       46 2019-02-05 06:00:00
24   3672      Kevin          Knox  SF       20       46 2019-02-05 06:00:00
25   3673       Luke        Kornet  PF       20       46 2019-02-05 06:00:00
26   3674   Courtney           Lee  SG       20       46 2019-02-05 06:00:00
27   3675   Emmanuel        Mudiay  PG       20       46 2019-02-05 06:00:00
28   3676      Frank     Ntilikina  PG       20       46 2019-02-05 06:00:00
29   3677   Kristaps     Porzingis  PF       20       46 2019-02-05 06:00:00
..    ...        ...           ...  ..      ...      ...                 ...
233  4015     Isaiah       Briscoe  PG       22       49 2019-02-05 07:00:00
234  4016       Troy       Caupain  PG       22       49 2019-02-05 07:00:00
235  4017       Evan      Fournier  SG       22       49 2019-02-05 07:00:00
236  4018     Melvin   Frazier Jr.  SG       22       49 2019-02-05 07:00:00
237  4019      Aaron        Gordon  PF       22       49 2019-02-05 07:00:00
238  4020     Jerian         Grant  PG       22       49 2019-02-05 07:00:00
239  4021   Jonathan         Isaac  PF       22       49 2019-02-05 07:00:00
240  4022     Wesley        Iwundu  SF       22       49 2019-02-05 07:00:00
241  4023      Amile     Jefferson  PF       22       49 2019-02-05 07:00:00
242  4024     Jarell        Martin  PF       22       49 2019-02-05 07:00:00
243  4025    Timofey        Mozgov   C       22       49 2019-02-05 07:00:00
244  4026   Terrence          Ross  SG       22       49 2019-02-05 07:00:00
245  4027   Jonathon       Simmons  SF       22       49 2019-02-05 07:00:00
246  4028     Nikola       Vucevic   C       22       49 2019-02-05 07:00:00
247  4078       Kyle      Anderson  SF       15       48 2019-02-05 07:00:00
248  4079     Dillon        Brooks  SG       15       48 2019-02-05 07:00:00
249  4080      Jevon        Carter  PG       15       48 2019-02-05 07:00:00
250  4081       Omri        Casspi  SF       15       48 2019-02-05 07:00:00
251  4082       Mike        Conley  PG       15       48 2019-02-05 07:00:00
252  4083       Marc         Gasol   C       15       48 2019-02-05 07:00:00
253  4084   JaMychal         Green  PF       15       48 2019-02-05 07:00:00
254  4085     Justin       Holiday  SF       15       48 2019-02-05 07:00:00
255  4086      Jaren   Jackson Jr.  PF       15       48 2019-02-05 07:00:00
256  4087    Shelvin          Mack  PG       15       48 2019-02-05 07:00:00
257  4088     Joakim          Noah   C       15       48 2019-02-05 07:00:00
258  4089   Chandler       Parsons  SF       15       48 2019-02-05 07:00:00
259  4090       Ivan          Rabb  PF       15       48 2019-02-05 07:00:00
260  4091    Garrett        Temple  SG       15       48 2019-02-05 07:00:00
261  4092     Julian      Washburn  SF       15       48 2019-02-05 07:00:00
262  4093       Yuta      Watanabe   G       15       48 2019-02-05 07:00:00

              full_name
0           Aron Baynes
1           Jabari Bird
2          Jaylen Brown
3             PJ Dozier
4        Gordon Hayward
5            Al Horford
6             RJ Hunter
7          Kyrie Irving
8         Marcus Morris
9          Semi Ojeleye
10         Terry Rozier
11         Marcus Smart
12         Jayson Tatum
13         Daniel Theis
14       Brad Wanamaker
15      Robert Williams
16   Guerschon Yabusele
17         Kadeem Allen
18           Trey Burke
19       Damyean Dotson
20     Tim Hardaway Jr.
21        Mario Hezonja
22         Isaiah Hicks
23          Enes Kanter
24           Kevin Knox
25          Luke Kornet
26         Courtney Lee
27      Emmanuel Mudiay
28      Frank Ntilikina
29   Kristaps Porzingis
..                  ...
233      Isaiah Briscoe
234        Troy Caupain
235       Evan Fournier
236  Melvin Frazier Jr.
237        Aaron Gordon
238        Jerian Grant
239      Jonathan Isaac
240       Wesley Iwundu
241     Amile Jefferson
242       Jarell Martin
243      Timofey Mozgov
244       Terrence Ross
245    Jonathon Simmons
246      Nikola Vucevic
247       Kyle Anderson
248       Dillon Brooks
249        Jevon Carter
250         Omri Casspi
251         Mike Conley
252          Marc Gasol
253      JaMychal Green
254      Justin Holiday
255   Jaren Jackson Jr.
256        Shelvin Mack
257         Joakim Noah
258    Chandler Parsons
259           Ivan Rabb
260      Garrett Temple
261     Julian Washburn
262       Yuta Watanabe

[263 rows x 8 columns]

- configure selenium and load page

In [4]:
#config section need to get rid of password
salary_url = "https://swishanalytics.com/optimus/nba/daily-fantasy-salary-changes"
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(salary_url)
time.sleep(1)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: use options instead of chrome_options

- use selenoim to find and click button for fanduel table
- use pandas.io.html to load table
- join players with new salaries info
- format dataframe

In [5]:
driver.find_element_by_xpath("//button[@site='fd']").click()
salaries_list = pd.read_html(driver.page_source,attrs={'id': 'stat-table'} )
salaries=salaries_list[0]
player_detail=players.merge(salaries, left_on='full_name', right_on='Player', how='inner')
player_detail.drop(
    columns=['Position','Player','Change','Avg Fantasy Pts', 'Diff','first_name','last_name','full_name','pos'],
    inplace=True)

`- clean up inconsistencies

In [6]:
player_detail.rename(columns={'Proj Fantasy Pts':'proj_score','id':'player_id','time':'date'},inplace=True)
player_detail['Salary'] = player_detail['Salary'].replace({'\$': '', ',': ''}, regex=True)
print(player_detail)
player_detail["Salary"] = pd.to_numeric(player_detail["Salary"],downcast='integer')

     player_id  team_id  game_id                date Salary  proj_score
0         3633        3       44 2019-02-05 06:00:00   5100       30.66
1         3635        3       44 2019-02-05 06:00:00   5000       26.89
2         3636        3       44 2019-02-05 06:00:00   8000       35.12
3         3640        3       44 2019-02-05 06:00:00   3500        8.76
4         3641        3       44 2019-02-05 06:00:00   7000       35.44
5         3642        3       44 2019-02-05 06:00:00   5300       27.70
6         3643        3       44 2019-02-05 06:00:00   6400       33.89
7         3644        3       44 2019-02-05 06:00:00   3700       19.11
8         3645        3       44 2019-02-05 06:00:00   3500       12.26
9         3646        3       44 2019-02-05 06:00:00   3600        5.21
10        3647        3       44 2019-02-05 06:00:00   3500        3.81
11        3667       20       46 2019-02-05 06:00:00   3800       17.75
12        3669       20       46 2019-02-05 06:00:00   4500       14.67
13        3671       20       46 2019-02-05 06:00:00   5200        1.94
14        3672       20       46 2019-02-05 06:00:00   5100       25.62
15        3673       20       46 2019-02-05 06:00:00   5000        9.64
16        3678       20       46 2019-02-05 06:00:00   4400       11.91
17        3679       20       46 2019-02-05 06:00:00   3500        0.98
18        3680       20       46 2019-02-05 06:00:00   4000       15.76
19        3681       20       46 2019-02-05 06:00:00   5600       22.99
20        3682       23       47 2019-02-05 07:00:00   3600       11.63
21        3684       23       47 2019-02-05 07:00:00   8600       38.77
22        3686       23       47 2019-02-05 07:00:00  11600       54.34
23        3689       23       47 2019-02-05 07:00:00   3600        3.48
24        3690       23       47 2019-02-05 07:00:00   3500        3.36
25        3691       23       47 2019-02-05 07:00:00   4300       18.74
26        3692       23       47 2019-02-05 07:00:00   3500        9.08
27        3693       23       47 2019-02-05 07:00:00   3800       19.43
28        3696       23       47 2019-02-05 07:00:00   3600       13.45
29        3697       23       47 2019-02-05 07:00:00   9700       46.94
..         ...      ...      ...                 ...    ...         ...
139       3998       16       50 2019-02-05 09:00:00   4300        3.01
140       3999       16       50 2019-02-05 09:00:00   3500        0.53
141       4000       16       50 2019-02-05 09:00:00   3500       17.21
142       4001       16       50 2019-02-05 09:00:00   4400       18.47
143       4004       16       50 2019-02-05 09:00:00   3700        0.70
144       4005       16       50 2019-02-05 09:00:00   4500       21.47
145       4006       16       50 2019-02-05 09:00:00   6100       27.52
146       4008       16       50 2019-02-05 09:00:00   5500       24.76
147       4009       16       50 2019-02-05 09:00:00   3900       19.03
148       4010       16       50 2019-02-05 09:00:00   7200       31.12
149       4011       16       50 2019-02-05 09:00:00   5900       28.90
150       4012       22       49 2019-02-05 07:00:00   4600       22.49
151       4014       22       49 2019-02-05 07:00:00   3600       13.10
152       4015       22       49 2019-02-05 07:00:00   3500       14.92
153       4017       22       49 2019-02-05 07:00:00   5600       24.65
154       4019       22       49 2019-02-05 07:00:00   6600       34.96
155       4020       22       49 2019-02-05 07:00:00   3600        0.55
156       4021       22       49 2019-02-05 07:00:00   5800       24.06
157       4022       22       49 2019-02-05 07:00:00   3600        8.13
158       4026       22       49 2019-02-05 07:00:00   5000       25.65
159       4028       22       49 2019-02-05 07:00:00  10000       48.29
160       4080       15       48 2019-02-05 07:00:00   3500        8.13
161       4082       15       48 2019-02-05 07:00:00   9000       39.17
162       4083       15       48 2019-02-05 07:00:00   8300       37.63
163       4084       15       48 2019-02-05 07:00:00   3700        9.82
164       4085       15       48 2019-02-05 07:00:00   4500       22.98
165       4087       15       48 2019-02-05 07:00:00   4000       18.46
166       4088       15       48 2019-02-05 07:00:00   3700       15.87
167       4090       15       48 2019-02-05 07:00:00   3600       15.48
168       4093       15       48 2019-02-05 07:00:00   3500        1.24

[169 rows x 6 columns]

- load dataframe into mySQ

In [7]:
player_detail.to_sql(con=engine, name='player_detail', if_exists='append',index=False)