In [1]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time
from selenium.webdriver.common.by import By

- create connection with sqlAlchemy -> mySQL
- load team and games for those teams

In [2]:
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')

todays_date = datetime.now()
todays_date = todays_date.strftime('%Y-%m-%d')
yesterdays_date=(datetime.now()-timedelta(days=1)).strftime('%Y-%m-%d')
player_detail_query="""select pd.id, pd.player_id,pd.team_id, pd.game_id, pd.salary, 
pd.proj_score,pd.date,CONCAT(p.first_name,' ', p.last_name) as Name 
from player_detail pd inner join player p on pd.player_id=p.id 
WHERE date >= '{0}' AND date < '{1}'""".format(yesterdays_date,todays_date)
player_detail_df=pd.read_sql_query(player_detail_query, con=engine)
print(player_detail_df.head(5))

     id  player_id  team_id  game_id  salary  proj_score                date  \
0  1415       3648        2       67    6100          29 2019-02-08 06:00:00
1  1416       3649        2       67    4900          23 2019-02-08 06:00:00
2  1417       3650        2       67    4200          11 2019-02-08 06:00:00
3  1418       3651        2       67    4400          20 2019-02-08 06:00:00
4  1419       3655        2       67    3600          14 2019-02-08 06:00:00

              Name
0    Jarrett Allen
1  DeMarre Carroll
2     Allen Crabbe
3         Ed Davis
4   Treveon Graham

- get list of team_ids to build filter for players of these teams
- join players with games and format names to swishananalytics format

- configure selenium and load page

In [3]:
#config section need to get rid of password
print(yesterdays_date)
points_url = "https://swishanalytics.com/optimus/nba/fanduel-draftkings-live-scoring?date={0}".format(yesterdays_date)
print(points_url)
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(points_url)
time.sleep(1)

2019-02-08
https://swishanalytics.com/optimus/nba/fanduel-draftkings-live-scoring?date=2019-02-08

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: use options instead of chrome_options

- use selenoim to find and click button for fanduel table
- use pandas.io.html to load table
- join players with new salaries info
- format dataframe

In [4]:
driver.find_element_by_class_name("img-center").click()
points_list = pd.read_html(driver.page_source,attrs={'id': 'stat-table'} )
points=points_list[0]

points['Name'] = points['Name'].str.split(' ')
for index,row in points.iterrows():
    points.at[index,'Name']=" ".join(row['Name'][0:len(row['Name'])-1])
    points.at[index,'Pos']=row['Name'][-1].strip('()')


points.drop(
    columns=['Pos','Next Game','Salary','Min', 'Reb','Ast','Stl','Blk','TO','Value','Avg Pts', 'Live Proj','PTs'],
    inplace=True)
player_detail_df=player_detail_df.merge(points, left_on='Name', right_on='Name')
player_detail_df.rename(columns={'Live Pts':'act_score'},inplace=True)
print(player_detail_df.head(5))

     id  player_id  team_id  game_id  salary  proj_score                date  \
0  1415       3648        2       67    6100          29 2019-02-08 06:00:00
1  1416       3649        2       67    4900          23 2019-02-08 06:00:00
2  1417       3650        2       67    4200          11 2019-02-08 06:00:00
3  1418       3651        2       67    4400          20 2019-02-08 06:00:00
4  1419       3655        2       67    3600          14 2019-02-08 06:00:00

              Name  act_score
0    Jarrett Allen      28.00
1  DeMarre Carroll      20.50
2     Allen Crabbe      24.75
3         Ed Davis      11.25
4   Treveon Graham       8.50

In [5]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import update
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)
player_detail=Base.classes.player_detail

session = Session(engine)

for index,row in player_detail_df.iterrows():
    print(row.id)
    print(row.act_score)
    session.query(player_detail).filter(player_detail.id == row.id).update({'act_score': row.act_score})
    session.commit()
    session.flush()

1415
28.0
1416
20.5
1417
24.75
1418
11.25
1419
8.5
1420
29.5
1421
14.0
1422
4.75
1423
29.5
1424
1.75
1425
36.25
1426
35.75
1427
15.5
1428
18.5
1429
22.25
1430
11.5
1431
6.25
1432
2.75
1433
26.0
1434
8.75
1435
15.25
1436
0.0
1437
0.0
1438
44.25
1439
41.0
1440
0.0
1441
6.5
1442
10.25
1443
21.5
1444
0.0
1445
13.25
1446
0.0
1447
34.75
1448
11.5
1449
41.25
1450
22.25
1451
59.5
1452
42.75
1453
43.5
1454
17.5
1455
38.0
1456
10.25
1457
1.25
1458
6.75
1459
50.25
1460
33.5
1461
37.25
1462
9.25
1464
2.75
1465
66.0
1466
13.25
1467
39.0
1468
33.0
1469
22.75
1470
0.0
1471
10.5
1472
8.25
1473
60.25
1474
32.25
1475
31.5
1476
21.25
1477
9.75
1478
13.5
1479
13.5
1480
32.5
1481
0.75
1482
8.25
1483
15.5
1484
0.0
1485
33.5
1486
15.75
1487
0.0
1489
63.5
1490
0.0
1491
31.0
1493
8.5
1494
40.75
1495
30.5
1496
0.0
1497
0.0
1499
14.25
1500
24.5
1501
17.5
1502
12.75
1504
15.75
1505
23.0
1506
0.0
1507
52.5
1508
51.0
1509
0.0
1510
4.5
1511
34.75
1512
43.75
1514
34.0
1515
22.5
1516
19.0
1517
16.25
1518
13.25
1519
14.75
1520
0.0
1521
44.5
1522
0.0
1523
46.0
1524
16.5
1526
35.25
1527
0.5
1528
14.5
1529
38.0
1530
12.25
1531
9.25
1532
32.25
1533
25.25
1534
16.25
1535
27.0
1536
13.75
1537
38.25
1538
3.5
1539
0.0
1540
12.0
1541
1.25
1542
21.75
1543
11.5
1544
8.75
1545
17.0
1546
35.5
1547
26.0
1548
16.75
1549
53.75
1550
27.5
1551
25.75
1552
24.5
1553
0.0
1554
33.0
1555
0.0
1556
3.25
1557
8.5
1558
18.0
1559
24.25
1560
16.25
1561
13.25
1562
27.25
1563
17.25
1564
10.75
1565
33.75
1566
16.75
1567
27.5
1568
3.0
1569
51.25
1570
6.5
1571
40.25
1572
0.0
1573
52.0
1574
14.75
1575
4.25
1576
12.5
1579
30.0

- clean up inconsistencies

In [6]:

player_detail_query="select * from player_detail WHERE date >= '{0}' AND date < '{1}'".format(yesterdays_date,todays_date)
players=pd.read_sql_query(player_detail_query, con=engine)
print(players)

       id  player_id  team_id  game_id  salary  act_score  proj_score  \
0    1415       3648        2       67    6100       28.0          29
1    1416       3649        2       67    4900       20.0          23
2    1417       3650        2       67    4200       25.0          11
3    1418       3651        2       67    4400       11.0          20
4    1419       3655        2       67    3600        8.0          14
5    1420       3656        2       67    5100       30.0          23
6    1421       3657        2       67    4400       14.0          17
7    1422       3658        2       67    4100        5.0          16
8    1423       3659        2       67    3500       30.0          16
9    1424       3661        2       67    5900        2.0          27
10   1425       3663        2       67    8800       36.0          41
11   1426       3666       20       64    5500       36.0           7
12   1427       3667       20       64    3700       16.0          18
13   1428       3668       20       64    6000       18.0          28
14   1429       3669       20       64    4500       22.0          12
15   1430       3672       20       64    5000       12.0          25
16   1431       3673       20       64    5000        6.0           5
17   1432       3674       20       64    3500        3.0           2
18   1433       3678       20       64    4600       26.0          17
19   1434       3679       20       64    3500        9.0           6
20   1435       3680       20       64    3800       15.0          17
21   1436       3681       20       64    5400        0.0          23
22   1437       3682       23       65    3500        0.0           8
23   1438       3684       23       65    8400       44.0          36
24   1439       3686       23       65   11800       41.0          47
25   1440       3689       23       65    3600        0.0           1
26   1441       3690       23       65    3500        6.0           4
27   1442       3691       23       65    4200       10.0          17
28   1443       3697       23       65    9300       22.0          45
29   1444       3715        5       67    3500        0.0           1
..    ...        ...      ...      ...     ...        ...         ...
135  1550       4011       16       71    5800       28.0          31
136  1551       4029       30       66    6200       26.0          31
137  1552       4032       30       66    4800       24.0          23
138  1553       4033       30       66    3500        0.0          13
139  1554       4034       30       66    5800       33.0          26
140  1555       4036       30       66    3500        0.0           1
141  1556       4037       30       66    4100        3.0          12
142  1557       4040       30       66    3500        8.0          11
143  1558       4042       30       66    6700       18.0          29
144  1559       4046        7       68    5900       24.0          25
145  1560       4047        7       68    3500       16.0           4
146  1561       4048        7       68    4900       13.0          25
147  1562       4049        7       68   10000       27.0          48
148  1563       4050        7       68    5000       17.0          26
149  1564       4051        7       68    3500       11.0          15
150  1565       4052        7       68    7400       34.0          29
151  1566       4057        7       68    3500       17.0          13
152  1567       4058        7       68    6000       28.0          25
153  1568       4095       19       70    3500        3.0           9
154  1569       4096       19       70   13000       51.0          50
155  1570       4097       19       70    4400        6.0          11
156  1571       4098       19       70    4100       40.0          15
157  1572       4099       19       70    3500        0.0           1
158  1573       4100       19       70    9400       52.0          39
159  1574       4101       19       70    3700       15.0          16
160  1575       4102       19       70    3500        4.0           1
161  1576       4103       19       70    4800       12.0          18
162  1577       4105       19       70    4100        NaN          14
163  1578       4106       19       70    7400        NaN          25
164  1579       4108       19       70    8300       30.0          26

                   date
0   2019-02-08 06:00:00
1   2019-02-08 06:00:00
2   2019-02-08 06:00:00
3   2019-02-08 06:00:00
4   2019-02-08 06:00:00
5   2019-02-08 06:00:00
6   2019-02-08 06:00:00
7   2019-02-08 06:00:00
8   2019-02-08 06:00:00
9   2019-02-08 06:00:00
10  2019-02-08 06:00:00
11  2019-02-08 06:00:00
12  2019-02-08 06:00:00
13  2019-02-08 06:00:00
14  2019-02-08 06:00:00
15  2019-02-08 06:00:00
16  2019-02-08 06:00:00
17  2019-02-08 06:00:00
18  2019-02-08 06:00:00
19  2019-02-08 06:00:00
20  2019-02-08 06:00:00
21  2019-02-08 06:00:00
22  2019-02-08 06:00:00
23  2019-02-08 06:00:00
24  2019-02-08 06:00:00
25  2019-02-08 06:00:00
26  2019-02-08 06:00:00
27  2019-02-08 06:00:00
28  2019-02-08 06:00:00
29  2019-02-08 06:00:00
..                  ...
135 2019-02-08 09:00:00
136 2019-02-08 06:00:00
137 2019-02-08 06:00:00
138 2019-02-08 06:00:00
139 2019-02-08 06:00:00
140 2019-02-08 06:00:00
141 2019-02-08 06:00:00
142 2019-02-08 06:00:00
143 2019-02-08 06:00:00
144 2019-02-08 07:00:00
145 2019-02-08 07:00:00
146 2019-02-08 07:00:00
147 2019-02-08 07:00:00
148 2019-02-08 07:00:00
149 2019-02-08 07:00:00
150 2019-02-08 07:00:00
151 2019-02-08 07:00:00
152 2019-02-08 07:00:00
153 2019-02-08 08:00:00
154 2019-02-08 08:00:00
155 2019-02-08 08:00:00
156 2019-02-08 08:00:00
157 2019-02-08 08:00:00
158 2019-02-08 08:00:00
159 2019-02-08 08:00:00
160 2019-02-08 08:00:00
161 2019-02-08 08:00:00
162 2019-02-08 08:00:00
163 2019-02-08 08:00:00
164 2019-02-08 08:00:00

[165 rows x 8 columns]

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  passwd="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")
for k in range(city_count):
    cur.execute("UPDATE hqstock SET citylastprice = '%s' WHERE id = '%s'"% (CITYPRICE[k],   tID[k]))
    cur.commit()
p = session.query(player_detail).first()
print(p)

ModuleNotFoundError: No module named 'mysql'

- load dataframe into mySQ

In [ ]:
player_detail.to_sql(con=engine, name='player_detail', if_exists='append',index=False)

In [ ]:
from sqlalchemy.sql.expression import bindparam
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import update
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)
player_detail=Base.classes.player_detail
print(type(player_detail))
session = Session(engine)
session.query(FoobarModel).filter(FoobarModel.id == foobar_id).update({'name': 'New Foobar Name!'})

mappings = []
for index,row in players.iterrows():
    info = {'id':row.id, 'act_score': row.act_score}
    mappings.append(info)
player_dict=dict(zip(players.id,players.act_score))
print(player_dict)



session.bulk_update_mappings(player_detail,mappings)
p = session.query(player_detail).first()
print(p.id)