In [1]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time
from selenium.webdriver.common.by import By

- create connection with sqlAlchemy -> mySQL
- load team and games for those teams

In [2]:
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')
team_df = pd.read_sql_query('select * from team',con=engine)
todays_date = datetime.now()
todays_date = todays_date.strftime('%Y-%m-%d')
tomorrows_date=(datetime.now()+timedelta(days=1)).strftime('%Y-%m-%d')
query="select * from game_team WHERE time >= '{0}' AND time < '{1}'".format(todays_date,tomorrows_date)
game_team=pd.read_sql_query(query, con=engine)

In [3]:
print(game_team)

     id  game_id  game_number  team_id location                time result  \
0   141       72            5       29     home 2019-02-09 04:00:00   None
1   142       72            6       27     away 2019-02-09 04:00:00   None
2   143       73            6       12     home 2019-02-09 06:00:00   None
3   144       73            6        6     away 2019-02-09 06:00:00   None
4   145       74            5        1     home 2019-02-09 06:00:00   None
5   146       74            6        4     away 2019-02-09 06:00:00   None
6   147       75            5       20     home 2019-02-09 06:00:00   None
7   148       75            5       28     away 2019-02-09 06:00:00   None
8   149       76            4        3     home 2019-02-09 07:00:00   None
9   150       77            6        5     home 2019-02-09 07:00:00   None
10  151       77            7       30     away 2019-02-09 07:00:00   None
11  152       78            5       15     home 2019-02-09 07:00:00   None
12  153       78            7       19     away 2019-02-09 07:00:00   None
13  154       79            6       11     home 2019-02-09 07:00:00   None
14  155       79            4       21     away 2019-02-09 07:00:00   None
15  156       80            6       17     home 2019-02-09 08:00:00   None
16  157       80            6       22     away 2019-02-09 08:00:00   None

   score
0   None
1   None
2   None
3   None
4   None
5   None
6   None
7   None
8   None
9   None
10  None
11  None
12  None
13  None
14  None
15  None
16  None

- get list of team_ids to build filter for players of these teams
- join players with games and format names to swishananalytics format

In [4]:
game_list=game_team['team_id'].tolist()
game_list=",".join(map(str,game_list))
query="select * from player where team_id in ({0})".format(game_list)
players=pd.read_sql_query(query,con=engine)
players=players.merge(game_team[['id','team_id','time']], left_on='team_id', right_on='team_id', how='inner')
players.rename(columns={'id_x': 'id', 'id_y': 'game_id'}, inplace=True)
for index,row in players.iterrows():
    players.at[index,'full_name']=row['first_name'] + " " + row['last_name']
print (players)

       id first_name     last_name pos  team_id  game_id                time  \
0    3631       Aron        Baynes   C        3      149 2019-02-09 07:00:00
1    3632     Jabari          Bird  SG        3      149 2019-02-09 07:00:00
2    3633     Jaylen         Brown  SG        3      149 2019-02-09 07:00:00
3    3634         PJ        Dozier  PG        3      149 2019-02-09 07:00:00
4    3635     Gordon       Hayward  SF        3      149 2019-02-09 07:00:00
5    3636         Al       Horford   C        3      149 2019-02-09 07:00:00
6    3637         RJ        Hunter  SG        3      149 2019-02-09 07:00:00
7    3638      Kyrie        Irving  PG        3      149 2019-02-09 07:00:00
8    3639     Marcus        Morris  PF        3      149 2019-02-09 07:00:00
9    3640       Semi       Ojeleye  PF        3      149 2019-02-09 07:00:00
10   3641      Terry        Rozier  PG        3      149 2019-02-09 07:00:00
11   3642     Marcus         Smart  PG        3      149 2019-02-09 07:00:00
12   3643     Jayson         Tatum  PF        3      149 2019-02-09 07:00:00
13   3644     Daniel         Theis  PF        3      149 2019-02-09 07:00:00
14   3645       Brad     Wanamaker  PG        3      149 2019-02-09 07:00:00
15   3646     Robert      Williams   C        3      149 2019-02-09 07:00:00
16   3647  Guerschon      Yabusele  PF        3      149 2019-02-09 07:00:00
17   3665     Kadeem         Allen  SG       20      147 2019-02-09 06:00:00
18   3666       Trey         Burke  PG       20      147 2019-02-09 06:00:00
19   3667    Damyean        Dotson  SG       20      147 2019-02-09 06:00:00
20   3668        Tim  Hardaway Jr.   G       20      147 2019-02-09 06:00:00
21   3669      Mario       Hezonja  SF       20      147 2019-02-09 06:00:00
22   3670     Isaiah         Hicks  PF       20      147 2019-02-09 06:00:00
23   3671       Enes        Kanter   C       20      147 2019-02-09 06:00:00
24   3672      Kevin          Knox  SF       20      147 2019-02-09 06:00:00
25   3673       Luke        Kornet  PF       20      147 2019-02-09 06:00:00
26   3674   Courtney           Lee  SG       20      147 2019-02-09 06:00:00
27   3675   Emmanuel        Mudiay  PG       20      147 2019-02-09 06:00:00
28   3676      Frank     Ntilikina  PG       20      147 2019-02-09 06:00:00
29   3677   Kristaps     Porzingis  PF       20      147 2019-02-09 06:00:00
..    ...        ...           ...  ..      ...      ...                 ...
251  4097     Cheick        Diallo  PF       19      153 2019-02-09 07:00:00
252  4098        Tim       Frazier  PG       19      153 2019-02-09 07:00:00
253  4099    Solomon          Hill  SF       19      153 2019-02-09 07:00:00
254  4100       Jrue       Holiday  SG       19      153 2019-02-09 07:00:00
255  4101      Frank       Jackson  PG       19      153 2019-02-09 07:00:00
256  4102     Wesley       Johnson  SF       19      153 2019-02-09 07:00:00
257  4103     Darius        Miller  SF       19      153 2019-02-09 07:00:00
258  4104     Nikola       Mirotic  PF       19      153 2019-02-09 07:00:00
259  4105    E'Twaun         Moore   G       19      153 2019-02-09 07:00:00
260  4106     Jahlil        Okafor   C       19      153 2019-02-09 07:00:00
261  4107     Elfrid        Payton  PG       19      153 2019-02-09 07:00:00
262  4108     Julius        Randle  PF       19      153 2019-02-09 07:00:00
263  4109    Kenrich      Williams  SG       19      153 2019-02-09 07:00:00
264  4110   LaMarcus      Aldridge  PF       27      142 2019-02-09 04:00:00
265  4111      Marco     Belinelli  SG       27      142 2019-02-09 04:00:00
266  4112      Davis       Bertans  SF       27      142 2019-02-09 04:00:00
267  4113      Dante    Cunningham  SF       27      142 2019-02-09 04:00:00
268  4114      DeMar       DeRozan  SG       27      142 2019-02-09 04:00:00
269  4115       Drew       Eubanks  PF       27      142 2019-02-09 04:00:00
270  4116       Bryn        Forbes  SG       27      142 2019-02-09 04:00:00
271  4117        Pau         Gasol   C       27      142 2019-02-09 04:00:00
272  4118       Rudy           Gay  SF       27      142 2019-02-09 04:00:00
273  4119   Chimezie          Metu  PF       27      142 2019-02-09 04:00:00
274  4120      Patty         Mills  PG       27      142 2019-02-09 04:00:00
275  4121        Ben         Moore  PF       27      142 2019-02-09 04:00:00
276  4122   Dejounte        Murray  PG       27      142 2019-02-09 04:00:00
277  4123      Jakob        Poeltl   C       27      142 2019-02-09 04:00:00
278  4124     Quincy     Pondexter  SF       27      142 2019-02-09 04:00:00
279  4125     Lonnie     Walker IV  SG       27      142 2019-02-09 04:00:00
280  4126    Derrick         White  PG       27      142 2019-02-09 04:00:00

              full_name
0           Aron Baynes
1           Jabari Bird
2          Jaylen Brown
3             PJ Dozier
4        Gordon Hayward
5            Al Horford
6             RJ Hunter
7          Kyrie Irving
8         Marcus Morris
9          Semi Ojeleye
10         Terry Rozier
11         Marcus Smart
12         Jayson Tatum
13         Daniel Theis
14       Brad Wanamaker
15      Robert Williams
16   Guerschon Yabusele
17         Kadeem Allen
18           Trey Burke
19       Damyean Dotson
20     Tim Hardaway Jr.
21        Mario Hezonja
22         Isaiah Hicks
23          Enes Kanter
24           Kevin Knox
25          Luke Kornet
26         Courtney Lee
27      Emmanuel Mudiay
28      Frank Ntilikina
29   Kristaps Porzingis
..                  ...
251       Cheick Diallo
252         Tim Frazier
253        Solomon Hill
254        Jrue Holiday
255       Frank Jackson
256      Wesley Johnson
257       Darius Miller
258      Nikola Mirotic
259       E'Twaun Moore
260       Jahlil Okafor
261       Elfrid Payton
262       Julius Randle
263    Kenrich Williams
264   LaMarcus Aldridge
265     Marco Belinelli
266       Davis Bertans
267    Dante Cunningham
268       DeMar DeRozan
269        Drew Eubanks
270         Bryn Forbes
271           Pau Gasol
272            Rudy Gay
273       Chimezie Metu
274         Patty Mills
275           Ben Moore
276     Dejounte Murray
277        Jakob Poeltl
278    Quincy Pondexter
279    Lonnie Walker IV
280       Derrick White

[281 rows x 8 columns]

- configure selenium and load page

In [5]:
#config section need to get rid of password
salary_url = "https://swishanalytics.com/optimus/nba/daily-fantasy-salary-changes"
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(salary_url)
time.sleep(1)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: use options instead of chrome_options

- use selenoim to find and click button for fanduel table
- use pandas.io.html to load table
- join players with new salaries info
- format dataframe

In [6]:
driver.find_element_by_xpath("//button[@site='fd']").click()
salaries_list = pd.read_html(driver.page_source,attrs={'id': 'stat-table'} )
salaries=salaries_list[0]
player_detail=players.merge(salaries, left_on='full_name', right_on='Player', how='inner')
player_detail.drop(
    columns=['Position','Player','Change','Avg Fantasy Pts', 'Diff','first_name','last_name','full_name','pos'],
    inplace=True)

In [7]:
print(player_detail)

       id  team_id  game_id                time   Salary  Proj Fantasy Pts
0    3633        3      149 2019-02-09 07:00:00   $5,200             24.64
1    3635        3      149 2019-02-09 07:00:00   $5,300             23.25
2    3636        3      149 2019-02-09 07:00:00   $7,500             36.58
3    3638        3      149 2019-02-09 07:00:00  $10,200             45.48
4    3639        3      149 2019-02-09 07:00:00   $5,100             25.31
5    3640        3      149 2019-02-09 07:00:00   $3,500              1.84
6    3641        3      149 2019-02-09 07:00:00   $7,000             20.26
7    3642        3      149 2019-02-09 07:00:00   $5,400             23.55
8    3643        3      149 2019-02-09 07:00:00   $7,200             33.08
9    3644        3      149 2019-02-09 07:00:00   $4,000             16.86
10   3645        3      149 2019-02-09 07:00:00   $3,500              2.11
11   3646        3      149 2019-02-09 07:00:00   $3,600              1.05
12   3647        3      149 2019-02-09 07:00:00   $3,500              1.21
13   3667       20      147 2019-02-09 06:00:00   $3,800             17.15
14   3669       20      147 2019-02-09 06:00:00   $4,500             19.71
15   3672       20      147 2019-02-09 06:00:00   $4,900             25.57
16   3673       20      147 2019-02-09 06:00:00   $4,900              4.50
17   3678       20      147 2019-02-09 06:00:00   $4,600             14.72
18   3679       20      147 2019-02-09 06:00:00   $3,500              6.47
19   3680       20      147 2019-02-09 06:00:00   $3,700             19.05
20   3681       20      147 2019-02-09 06:00:00   $4,600             19.92
21   3701       28      148 2019-02-09 06:00:00   $4,200             18.10
22   3702       28      148 2019-02-09 06:00:00   $6,600             26.09
23   3703       28      148 2019-02-09 06:00:00   $9,900             43.71
24   3704       28      148 2019-02-09 06:00:00   $8,000             33.36
25   3709       28      148 2019-02-09 06:00:00   $4,000             11.68
26   3711       28      148 2019-02-09 06:00:00   $6,700             32.72
27   3712       28      148 2019-02-09 06:00:00   $4,900             31.20
28   3714       28      148 2019-02-09 06:00:00   $4,300             12.62
29   3716        5      150 2019-02-09 07:00:00   $3,900             13.19
..    ...      ...      ...                 ...      ...               ...
143  4082       15      152 2019-02-09 07:00:00   $9,100             42.33
144  4083       15      152 2019-02-09 07:00:00   $8,300             34.96
145  4084       15      152 2019-02-09 07:00:00   $3,700             22.94
146  4085       15      152 2019-02-09 07:00:00   $5,600             24.33
147  4090       15      152 2019-02-09 07:00:00   $6,400             18.65
148  4091       15      152 2019-02-09 07:00:00   $3,900              2.42
149  4093       15      152 2019-02-09 07:00:00   $3,500              5.40
150  4095       19      153 2019-02-09 07:00:00   $3,500              6.01
151  4096       19      153 2019-02-09 07:00:00  $13,000             43.76
152  4097       19      153 2019-02-09 07:00:00   $4,500              7.58
153  4098       19      153 2019-02-09 07:00:00   $4,100             20.56
154  4099       19      153 2019-02-09 07:00:00   $3,500              0.52
155  4100       19      153 2019-02-09 07:00:00   $9,300             38.46
156  4101       19      153 2019-02-09 07:00:00   $3,800             10.31
157  4102       19      153 2019-02-09 07:00:00   $3,500              8.66
158  4103       19      153 2019-02-09 07:00:00   $4,700             17.20
159  4105       19      153 2019-02-09 07:00:00   $4,100             11.78
160  4106       19      153 2019-02-09 07:00:00   $7,000              7.89
161  4108       19      153 2019-02-09 07:00:00   $8,400             28.05
162  4109       19      153 2019-02-09 07:00:00   $5,500             21.75
163  4110       27      142 2019-02-09 04:00:00   $8,500             43.13
164  4111       27      142 2019-02-09 04:00:00   $4,100             20.30
165  4113       27      142 2019-02-09 04:00:00   $3,500             13.83
166  4114       27      142 2019-02-09 04:00:00   $8,100             39.87
167  4115       27      142 2019-02-09 04:00:00   $3,500              3.53
168  4116       27      142 2019-02-09 04:00:00   $4,200             19.99
169  4117       27      142 2019-02-09 04:00:00   $3,500              5.38
170  4119       27      142 2019-02-09 04:00:00   $3,500              3.40
171  4123       27      142 2019-02-09 04:00:00   $3,900             12.32
172  4124       27      142 2019-02-09 04:00:00   $3,500              6.03

[173 rows x 6 columns]

`- clean up inconsistencies

In [8]:
player_detail.rename(columns={'Proj Fantasy Pts':'proj_score','id':'player_id','time':'date'},inplace=True)
player_detail['Salary'] = player_detail['Salary'].replace({'\$': '', ',': ''}, regex=True)
print(player_detail)
player_detail["Salary"] = pd.to_numeric(player_detail["Salary"],downcast='integer')

     player_id  team_id  game_id                date Salary  proj_score
0         3633        3      149 2019-02-09 07:00:00   5200       24.64
1         3635        3      149 2019-02-09 07:00:00   5300       23.25
2         3636        3      149 2019-02-09 07:00:00   7500       36.58
3         3638        3      149 2019-02-09 07:00:00  10200       45.48
4         3639        3      149 2019-02-09 07:00:00   5100       25.31
5         3640        3      149 2019-02-09 07:00:00   3500        1.84
6         3641        3      149 2019-02-09 07:00:00   7000       20.26
7         3642        3      149 2019-02-09 07:00:00   5400       23.55
8         3643        3      149 2019-02-09 07:00:00   7200       33.08
9         3644        3      149 2019-02-09 07:00:00   4000       16.86
10        3645        3      149 2019-02-09 07:00:00   3500        2.11
11        3646        3      149 2019-02-09 07:00:00   3600        1.05
12        3647        3      149 2019-02-09 07:00:00   3500        1.21
13        3667       20      147 2019-02-09 06:00:00   3800       17.15
14        3669       20      147 2019-02-09 06:00:00   4500       19.71
15        3672       20      147 2019-02-09 06:00:00   4900       25.57
16        3673       20      147 2019-02-09 06:00:00   4900        4.50
17        3678       20      147 2019-02-09 06:00:00   4600       14.72
18        3679       20      147 2019-02-09 06:00:00   3500        6.47
19        3680       20      147 2019-02-09 06:00:00   3700       19.05
20        3681       20      147 2019-02-09 06:00:00   4600       19.92
21        3701       28      148 2019-02-09 06:00:00   4200       18.10
22        3702       28      148 2019-02-09 06:00:00   6600       26.09
23        3703       28      148 2019-02-09 06:00:00   9900       43.71
24        3704       28      148 2019-02-09 06:00:00   8000       33.36
25        3709       28      148 2019-02-09 06:00:00   4000       11.68
26        3711       28      148 2019-02-09 06:00:00   6700       32.72
27        3712       28      148 2019-02-09 06:00:00   4900       31.20
28        3714       28      148 2019-02-09 06:00:00   4300       12.62
29        3716        5      150 2019-02-09 07:00:00   3900       13.19
..         ...      ...      ...                 ...    ...         ...
143       4082       15      152 2019-02-09 07:00:00   9100       42.33
144       4083       15      152 2019-02-09 07:00:00   8300       34.96
145       4084       15      152 2019-02-09 07:00:00   3700       22.94
146       4085       15      152 2019-02-09 07:00:00   5600       24.33
147       4090       15      152 2019-02-09 07:00:00   6400       18.65
148       4091       15      152 2019-02-09 07:00:00   3900        2.42
149       4093       15      152 2019-02-09 07:00:00   3500        5.40
150       4095       19      153 2019-02-09 07:00:00   3500        6.01
151       4096       19      153 2019-02-09 07:00:00  13000       43.76
152       4097       19      153 2019-02-09 07:00:00   4500        7.58
153       4098       19      153 2019-02-09 07:00:00   4100       20.56
154       4099       19      153 2019-02-09 07:00:00   3500        0.52
155       4100       19      153 2019-02-09 07:00:00   9300       38.46
156       4101       19      153 2019-02-09 07:00:00   3800       10.31
157       4102       19      153 2019-02-09 07:00:00   3500        8.66
158       4103       19      153 2019-02-09 07:00:00   4700       17.20
159       4105       19      153 2019-02-09 07:00:00   4100       11.78
160       4106       19      153 2019-02-09 07:00:00   7000        7.89
161       4108       19      153 2019-02-09 07:00:00   8400       28.05
162       4109       19      153 2019-02-09 07:00:00   5500       21.75
163       4110       27      142 2019-02-09 04:00:00   8500       43.13
164       4111       27      142 2019-02-09 04:00:00   4100       20.30
165       4113       27      142 2019-02-09 04:00:00   3500       13.83
166       4114       27      142 2019-02-09 04:00:00   8100       39.87
167       4115       27      142 2019-02-09 04:00:00   3500        3.53
168       4116       27      142 2019-02-09 04:00:00   4200       19.99
169       4117       27      142 2019-02-09 04:00:00   3500        5.38
170       4119       27      142 2019-02-09 04:00:00   3500        3.40
171       4123       27      142 2019-02-09 04:00:00   3900       12.32
172       4124       27      142 2019-02-09 04:00:00   3500        6.03

[173 rows x 6 columns]

- load dataframe into mySQ

In [9]:
player_detail.to_sql(con=engine, name='player_detail', if_exists='append',index=False)