In [31]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time

- format url with todays date

In [32]:
espn_url = "http://www.espn.com/nba/schedule/_/date/"
todays_date = datetime.now()

formattedDate = str(todays_date.year)+todays_date.strftime('%m')+todays_date.strftime('%d')
espn_url+=formattedDate

- configure selenium and load page

In [33]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(espn_url)
time.sleep(1)

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: use options instead of chrome_options
  after removing the cwd from sys.path.

- pandas.io.html to load table with class = schedule
- query database to get last game to increment from

In [44]:
espn_games_list = pd.read_html(driver.page_source,attrs={'class': 'schedule'} )
espn_games=espn_games_list[0]
print(espn_games.columns[2])
espn_games = espn_games[espn_games[espn_games.columns[2]] != 'LIVE']
print(espn_games)
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')


team = pd.read_sql_query('select * from team',con=engine)
team_game = pd.read_sql_query('select game_id,game_number, team_id from game_team order by game_id desc', con=engine)
last_game = 1 if team_game['game_id'].empty else team_game['game_id'].iloc[0]

time  (CT)
             matchup       Unnamed: 1 time  (CT)  nat tv  \
1        Chicago CHI    Charlotte CHA    6:00 PM     NaN
2       Brooklyn BKN      Orlando ORL    6:00 PM     NaN
3      Milwaukee MIL   Washington WSH    6:00 PM     NaN
4         Dallas DAL    Cleveland CLE    6:30 PM     NaN
5        Indiana IND        Miami MIA    6:30 PM     NaN
6     New Orleans NO   San Antonio SA    7:30 PM     NaN
7    Los Angeles LAL  Golden State GS    7:30 PM     NaN
8         Denver DEN    Minnesota MIN    8:00 PM     NaN
9        Atlanta ATL      Phoenix PHX    8:00 PM     NaN
10       Houston HOU        Utah UTAH    8:00 PM     NaN
11  Philadelphia PHI   Sacramento SAC    9:00 PM     NaN

                         tickets  Unnamed: 5
1    1,800 tickets as low as $17         NaN
2    1,485 tickets as low as $14         NaN
3    2,083 tickets as low as $16         NaN
4    1,157 tickets as low as $12         NaN
5    2,949 tickets as low as $25         NaN
6    1,461 tickets as low as $16         NaN
7   2,949 tickets as low as $178         NaN
8      620 tickets as low as $26         NaN
9     1,871 tickets as low as $9         NaN
10     724 tickets as low as $34         NaN
11     489 tickets as low as $54         NaN

- get rid of extra columns

In [45]:
cols=[3,4,5]
espn_games.drop(espn_games.columns[cols],axis=1,inplace=True)
espn_games.columns=['away','home', 'time']

C:\anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

- add game_id for app into espn data

In [46]:
for index, row in espn_games.iterrows():
    last_game+=1
    espn_games.at[index,'game_id']=last_game   
espn_games["game_id"] = pd.to_numeric(espn_games["game_id"],downcast='integer')

C:\anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

-

In [47]:
temp=pd.DataFrame(columns=['game_id','team','location','time']);
for index, row in espn_games.iterrows():
    home_team=[row['game_id'],row['home'],'home',row['time']]
    temp.loc[len(temp.index)]=home_team
    away_team=[row['game_id'],row['away'],'away',row['time']]
    temp.loc[len(temp.index)]=away_team

- strip city from city+team in espn
- merge espn dataframe with mySQL team 
- drop extra columns

In [48]:
team=team.rename(columns={"id": "team_id"})
for index, row in temp.iterrows():
    city=row['team'].split(' ')
    city_len=len(city)
    row['team']=" ".join(city[0:(city_len - 1)])
    
temp=temp.merge(team, left_on='team', right_on='city', how='inner')
cols=['abbr','name','sport','conference']
temp.drop(columns=['abbr','name','sport','conference'],inplace=True)

- calc and add each teams game number for the season

In [49]:
for index, row in temp.iterrows():
    gameNum=team_game[team_game.team_id==row.team_id].sort_values(by=['team_id'],ascending=False)
    if not gameNum.empty:
        gameNum=gameNum.iloc[0]['game_number']
        temp.at[index,'game_number']=gameNum+1
    else:
        temp.at[index,'game_number']=1

- create clean dataframe that will be used to load into mySQL

In [50]:
team_game_espn=pd.DataFrame(temp,columns=['game_id','game_number','team_id','location','result','score','time']);  
print(temp)

   game_id          team location     time  team_id          city  game_number
0       26     Charlotte     home  6:00 PM        4     Charlotte          3.0
1       26       Chicago     away  6:00 PM        5       Chicago          3.0
2       27       Orlando     home  6:00 PM       22       Orlando          3.0
3       27      Brooklyn     away  6:00 PM        2      Brooklyn          3.0
4       28    Washington     home  6:00 PM       30    Washington          3.0
5       28     Milwaukee     away  6:00 PM       17     Milwaukee          2.0
6       29     Cleveland     home  6:30 PM        6     Cleveland          3.0
7       29        Dallas     away  6:30 PM        7        Dallas          2.0
8       30         Miami     home  6:30 PM       16         Miami          3.0
9       30       Indiana     away  6:30 PM       12       Indiana          2.0
10      31   San Antonio     home  7:30 PM       27   San Antonio          2.0
11      31   New Orleans     away  7:30 PM       19   New Orleans          3.0
12      32  Golden State     home  7:30 PM       10  Golden State          2.0
13      32   Los Angeles     away  7:30 PM       13   Los Angeles          2.0
14      32   Los Angeles     away  7:30 PM       14   Los Angeles          2.0
15      33     Minnesota     home  8:00 PM       18     Minnesota          3.0
16      33        Denver     away  8:00 PM        8        Denver          3.0
17      34       Phoenix     home  8:00 PM       24       Phoenix          3.0
18      34       Atlanta     away  8:00 PM        1       Atlanta          2.0
19      35          Utah     home  8:00 PM       29          Utah          3.0
20      35       Houston     away  8:00 PM       11       Houston          3.0
21      36    Sacramento     home  9:00 PM       26    Sacramento          2.0
22      36  Philadelphia     away  9:00 PM       23  Philadelphia          2.0

- format time for mySQL

In [51]:
for index, row in team_game_espn.iterrows():
    hourStr = team_game_espn.at[index,'time']
    hour = datetime.strptime(hourStr, '%H:%M %p')
    game_time=datetime.now().replace(hour=hour.hour, minute=0,second=0, microsecond=0)
    team_game_espn.at[index,'time']=game_time

- load team into mySQL

In [52]:
print ( team_game_espn)

   game_id  game_number  team_id location  result  score                 time
0       26          3.0        4     home     NaN    NaN  2019-02-02 06:00:00
1       26          3.0        5     away     NaN    NaN  2019-02-02 06:00:00
2       27          3.0       22     home     NaN    NaN  2019-02-02 06:00:00
3       27          3.0        2     away     NaN    NaN  2019-02-02 06:00:00
4       28          3.0       30     home     NaN    NaN  2019-02-02 06:00:00
5       28          2.0       17     away     NaN    NaN  2019-02-02 06:00:00
6       29          3.0        6     home     NaN    NaN  2019-02-02 06:00:00
7       29          2.0        7     away     NaN    NaN  2019-02-02 06:00:00
8       30          3.0       16     home     NaN    NaN  2019-02-02 06:00:00
9       30          2.0       12     away     NaN    NaN  2019-02-02 06:00:00
10      31          2.0       27     home     NaN    NaN  2019-02-02 07:00:00
11      31          3.0       19     away     NaN    NaN  2019-02-02 07:00:00
12      32          2.0       10     home     NaN    NaN  2019-02-02 07:00:00
13      32          2.0       13     away     NaN    NaN  2019-02-02 07:00:00
14      32          2.0       14     away     NaN    NaN  2019-02-02 07:00:00
15      33          3.0       18     home     NaN    NaN  2019-02-02 08:00:00
16      33          3.0        8     away     NaN    NaN  2019-02-02 08:00:00
17      34          3.0       24     home     NaN    NaN  2019-02-02 08:00:00
18      34          2.0        1     away     NaN    NaN  2019-02-02 08:00:00
19      35          3.0       29     home     NaN    NaN  2019-02-02 08:00:00
20      35          3.0       11     away     NaN    NaN  2019-02-02 08:00:00
21      36          2.0       26     home     NaN    NaN  2019-02-02 09:00:00
22      36          2.0       23     away     NaN    NaN  2019-02-02 09:00:00

In [53]:
team_game_espn.to_sql(con=engine, name='game_team', if_exists='append',index=False)