In [4]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time
from selenium.webdriver.common.by import By

In [5]:
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')
team_df = pd.read_sql_query('select * from team',con=engine)
todays_date = datetime.now()
todays_date = todays_date.strftime('%Y-%m-%d')
tomorrows_date=(datetime.now()+timedelta(days=1)).strftime('%Y-%m-%d')
query="select * from game_team WHERE time >= '{0}' AND time < '{1}'".format(todays_date,tomorrows_date)
print(query)

game_team=pd.read_sql_query(query, con=engine)
print(game_team)

select * from game_team WHERE time >= '2019-01-22' AND time < '2019-01-23'
   id  game_id  game_number  team_id location                time result score
0  66        9            1       28     home 2019-01-22 06:00:00   None  None
1  67        9            1       26     away 2019-01-22 06:00:00   None  None
2  68       10            1       21     home 2019-01-22 07:00:00   None  None
3  69       10            2       25     away 2019-01-22 07:00:00   None  None
4  70       11            1        7     home 2019-01-22 07:00:00   None  None
5  71       12            1       24     home 2019-01-22 08:00:00   None  None
6  72       12            2       18     away 2019-01-22 08:00:00   None  None

In [58]:
game_list=game_team['team_id'].tolist()
game_list=",".join(map(str,game_list))
query="select * from player where team_id in ({0})".format(game_list)
print(query)
players=pd.read_sql_query(query,con=engine)
players=players.merge(game_team[['game_id','team_id','time']], left_on='team_id', right_on='team_id', how='inner')
for index,row in players.iterrows():
    players.at[index,'full_name']=row['first_name'] + " " + row['last_name']

print (players)

select * from player where team_id in (28,26,21,25,7,24,18)
       id  first_name      last_name pos  team_id  game_id  \
0    4044      Kostas  Antetokounmpo  PF        7       11
1    4045        J.J.          Barea  PG        7       11
2    4046    Harrison         Barnes  SF        7       11
3    4047        Ryan      Broekhoff  SG        7       11
4    4048       Jalen        Brunson  PG        7       11
5    4049        Luka         Doncic  SF        7       11
6    4050      Dorian   Finney-Smith  SF        7       11
7    4051       Devin         Harris  PG        7       11
8    4052     DeAndre         Jordan   C        7       11
9    4053  Maximilian         Kleber  PF        7       11
10   4054       Daryl          Macon  SG        7       11
11   4055      Wesley       Matthews  SG        7       11
12   4056       Salah          Mejri   C        7       11
13   4057        Dirk       Nowitzki  PF        7       11
14   4058      Dwight         Powell  PF        7       11
15   4059      Dennis      Smith Jr.  PG        7       11
16   4060         Ray       Spalding  PF        7       11
17   3816       Keita     Bates-Diop  SF       18       12
18   3817      Jerryd        Bayless  PG       18       12
19   3818      Robert      Covington  SF       18       12
20   3819        Luol           Deng  SF       18       12
21   3820      Gorgui          Dieng   C       18       12
22   3821         Taj         Gibson  PF       18       12
23   3822        Tyus          Jones  PG       18       12
24   3823        Josh         Okogie  SG       18       12
25   3824     Derrick           Rose  PG       18       12
26   3825       Dario          Saric  PF       18       12
27   3826        Jeff         Teague  PG       18       12
28   3827       Jared        Terrell  SG       18       12
29   3828     Anthony       Tolliver  PF       18       12
..    ...         ...            ...  ..      ...      ...
83   3949      Willie   Cauley-Stein   C       26        9
84   3950        Yogi        Ferrell  PG       26        9
85   3951    De'Aaron            Fox  PG       26        9
86   3952      Wenyen        Gabriel   F       26        9
87   3953       Harry          Giles  PF       26        9
88   3954       Buddy          Hield  SG       26        9
89   3955      Justin        Jackson  SF       26        9
90   3956       Kosta         Koufos   C       26        9
91   3957        Skal     Labissiere  PF       26        9
92   3958       Frank      Mason III  PG       26        9
93   3959         Ben       McLemore  SG       26        9
94   3960        Zach       Randolph  PF       26        9
95   3961        Iman       Shumpert  SG       26        9
96   3962        Troy       Williams  SF       26        9
97   3699          OG        Anunoby  SF       28        9
98   3700       Chris        Boucher  PF       28        9
99   3701       Danny          Green  SG       28        9
100  3702       Serge          Ibaka  PF       28        9
101  3703       Kawhi        Leonard  SF       28        9
102  3704        Kyle          Lowry  PG       28        9
103  3705      Jordan           Loyd  PG       28        9
104  3706     Patrick          McCaw  SG       28        9
105  3707          CJ          Miles  SF       28        9
106  3708        Greg         Monroe   C       28        9
107  3709      Norman         Powell  SF       28        9
108  3710     Malachi     Richardson  SG       28        9
109  3711      Pascal         Siakam  PF       28        9
110  3712       Jonas    Valanciunas   C       28        9
111  3713        Fred       VanVleet  PG       28        9
112  3714       Delon         Wright  PG       28        9

                   time             full_name
0   2019-01-22 07:00:00  Kostas Antetokounmpo
1   2019-01-22 07:00:00            J.J. Barea
2   2019-01-22 07:00:00       Harrison Barnes
3   2019-01-22 07:00:00        Ryan Broekhoff
4   2019-01-22 07:00:00         Jalen Brunson
5   2019-01-22 07:00:00           Luka Doncic
6   2019-01-22 07:00:00   Dorian Finney-Smith
7   2019-01-22 07:00:00          Devin Harris
8   2019-01-22 07:00:00        DeAndre Jordan
9   2019-01-22 07:00:00     Maximilian Kleber
10  2019-01-22 07:00:00           Daryl Macon
11  2019-01-22 07:00:00       Wesley Matthews
12  2019-01-22 07:00:00           Salah Mejri
13  2019-01-22 07:00:00         Dirk Nowitzki
14  2019-01-22 07:00:00         Dwight Powell
15  2019-01-22 07:00:00      Dennis Smith Jr.
16  2019-01-22 07:00:00          Ray Spalding
17  2019-01-22 08:00:00      Keita Bates-Diop
18  2019-01-22 08:00:00        Jerryd Bayless
19  2019-01-22 08:00:00      Robert Covington
20  2019-01-22 08:00:00             Luol Deng
21  2019-01-22 08:00:00          Gorgui Dieng
22  2019-01-22 08:00:00            Taj Gibson
23  2019-01-22 08:00:00            Tyus Jones
24  2019-01-22 08:00:00           Josh Okogie
25  2019-01-22 08:00:00          Derrick Rose
26  2019-01-22 08:00:00           Dario Saric
27  2019-01-22 08:00:00           Jeff Teague
28  2019-01-22 08:00:00         Jared Terrell
29  2019-01-22 08:00:00      Anthony Tolliver
..                  ...                   ...
83  2019-01-22 06:00:00   Willie Cauley-Stein
84  2019-01-22 06:00:00          Yogi Ferrell
85  2019-01-22 06:00:00          De'Aaron Fox
86  2019-01-22 06:00:00        Wenyen Gabriel
87  2019-01-22 06:00:00           Harry Giles
88  2019-01-22 06:00:00           Buddy Hield
89  2019-01-22 06:00:00        Justin Jackson
90  2019-01-22 06:00:00          Kosta Koufos
91  2019-01-22 06:00:00       Skal Labissiere
92  2019-01-22 06:00:00       Frank Mason III
93  2019-01-22 06:00:00          Ben McLemore
94  2019-01-22 06:00:00         Zach Randolph
95  2019-01-22 06:00:00         Iman Shumpert
96  2019-01-22 06:00:00         Troy Williams
97  2019-01-22 06:00:00            OG Anunoby
98  2019-01-22 06:00:00         Chris Boucher
99  2019-01-22 06:00:00           Danny Green
100 2019-01-22 06:00:00           Serge Ibaka
101 2019-01-22 06:00:00         Kawhi Leonard
102 2019-01-22 06:00:00            Kyle Lowry
103 2019-01-22 06:00:00           Jordan Loyd
104 2019-01-22 06:00:00         Patrick McCaw
105 2019-01-22 06:00:00              CJ Miles
106 2019-01-22 06:00:00           Greg Monroe
107 2019-01-22 06:00:00         Norman Powell
108 2019-01-22 06:00:00    Malachi Richardson
109 2019-01-22 06:00:00         Pascal Siakam
110 2019-01-22 06:00:00     Jonas Valanciunas
111 2019-01-22 06:00:00         Fred VanVleet
112 2019-01-22 06:00:00          Delon Wright

[113 rows x 8 columns]

In [59]:
#config section need to get rid of password
salary_url = "https://swishanalytics.com/optimus/nba/daily-fantasy-salary-changes"
print(salary_url)
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(salary_url)
time.sleep(1)


#http://www.espn.com/nba/team/roster/_/name/ny/new-york-knicks

https://swishanalytics.com/optimus/nba/daily-fantasy-salary-changes

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: use options instead of chrome_options
  import sys

In [60]:
driver.find_element_by_xpath("//button[@site='fd']").click()
salaries_list = pd.read_html(driver.page_source,attrs={'id': 'stat-table'} )
salaries=salaries_list[0]
player_detail=players.merge(salaries, left_on='full_name', right_on='Player', how='inner')
player_detail.drop(
    columns=['Position','Player','Change','Avg Fantasy Pts', 'Diff','first_name','last_name','full_name','pos'],
    inplace=True)

In [74]:
player_detail.rename(columns={'Proj Fantasy Pts':'proj_score','id':'player_id','time':'date'},inplace=True)
player_detail['Salary'] = player_detail['Salary'].replace({'\$': '', ',': ''}, regex=True)
#player_detail['Salary']=player_detail['Salary'].str.strip('$')
print(player_detail)
player_detail["Salary"] = pd.to_numeric(player_detail["Salary"],downcast='integer')

    player_id  team_id  game_id                date Salary  proj_score
0        4046        7       11 2019-01-22 07:00:00   5800       27.13
1        4047        7       11 2019-01-22 07:00:00   3500        1.11
2        4048        7       11 2019-01-22 07:00:00   3700       14.77
3        4049        7       11 2019-01-22 07:00:00   8900       41.35
4        4050        7       11 2019-01-22 07:00:00   3900       18.16
5        4051        7       11 2019-01-22 07:00:00   3500        8.33
6        4052        7       11 2019-01-22 07:00:00   7000       36.91
7        4054        7       11 2019-01-22 07:00:00   3500        1.05
8        4055        7       11 2019-01-22 07:00:00   4300       21.91
9        4057        7       11 2019-01-22 07:00:00   3500        7.82
10       4058        7       11 2019-01-22 07:00:00   3800       18.00
11       3816       18       12 2019-01-22 08:00:00   3500        0.56
12       3817       18       12 2019-01-22 08:00:00   3600        8.45
13       3819       18       12 2019-01-22 08:00:00   3600        1.80
14       3820       18       12 2019-01-22 08:00:00   3500        7.56
15       3821       18       12 2019-01-22 08:00:00   5300       24.73
16       3823       18       12 2019-01-22 08:00:00   4200       18.59
17       3824       18       12 2019-01-22 08:00:00   6600       30.36
18       3825       18       12 2019-01-22 08:00:00   3900       19.69
19       3826       18       12 2019-01-22 08:00:00   6300       29.55
20       3828       18       12 2019-01-22 08:00:00   3500       10.29
21       3829       18       12 2019-01-22 08:00:00  10600       53.73
22       3830       18       12 2019-01-22 08:00:00   6100       33.42
23       3832       21       10 2019-01-22 07:00:00   3600        5.67
24       3833       21       10 2019-01-22 07:00:00   8200       31.81
25       3835       21       10 2019-01-22 07:00:00   3500        5.48
26       3836       21       10 2019-01-22 07:00:00   3500        0.99
27       3837       21       10 2019-01-22 07:00:00   4000       15.45
28       3838       21       10 2019-01-22 07:00:00  10400       47.32
29       3839       21       10 2019-01-22 07:00:00   6400       26.85
..        ...      ...      ...                 ...    ...         ...
50       3851       25       10 2019-01-22 07:00:00   3500        9.99
51       3852       25       10 2019-01-22 07:00:00   4500       16.06
52       3853       25       10 2019-01-22 07:00:00   4100       13.15
53       3854       25       10 2019-01-22 07:00:00   3600       14.15
54       3855       25       10 2019-01-22 07:00:00   9300       42.55
55       3857       25       10 2019-01-22 07:00:00   9200       40.19
56       3859       25       10 2019-01-22 07:00:00   3500        2.98
57       3860       25       10 2019-01-22 07:00:00   3600        0.69
58       3862       25       10 2019-01-22 07:00:00   4900       20.27
59       3947       26        9 2019-01-22 06:00:00   4100       14.59
60       3948       26        9 2019-01-22 06:00:00   5900       29.27
61       3949       26        9 2019-01-22 06:00:00   7900       31.29
62       3950       26        9 2019-01-22 06:00:00   3500       12.44
63       3951       26        9 2019-01-22 06:00:00   8000       34.53
64       3953       26        9 2019-01-22 06:00:00   3700       17.16
65       3954       26        9 2019-01-22 06:00:00   6000       29.00
66       3955       26        9 2019-01-22 06:00:00   3700       15.32
67       3956       26        9 2019-01-22 06:00:00   3600        2.15
68       3959       26        9 2019-01-22 06:00:00   3700        1.26
69       3961       26        9 2019-01-22 06:00:00   3800       10.48
70       3700       28        9 2019-01-22 06:00:00   3500        1.90
71       3701       28        9 2019-01-22 06:00:00   5000       21.40
72       3702       28        9 2019-01-22 06:00:00   6700       31.50
73       3703       28        9 2019-01-22 06:00:00  10300       47.73
74       3704       28        9 2019-01-22 06:00:00   8300       34.16
75       3705       28        9 2019-01-22 06:00:00   3500        1.98
76       3708       28        9 2019-01-22 06:00:00   3700       14.81
77       3709       28        9 2019-01-22 06:00:00   3900       14.85
78       3711       28        9 2019-01-22 06:00:00   6900       35.51
79       3714       28        9 2019-01-22 06:00:00   4500       17.61

[80 rows x 6 columns]

In [76]:
player_detail.to_sql(con=engine, name='player_detail', if_exists='append',index=False)