In [8]:
import pandas as pd
from pandas.io.html import read_html
from pandas import DataFrame, Series
from bs4 import BeautifulSoup
import platform
from sqlalchemy import create_engine
from selenium import webdriver
from datetime import datetime
from datetime import timedelta
import time
from selenium.webdriver.common.by import By

- create connection with sqlAlchemy -> mySQL
- load team and games for those teams

In [9]:
engine = create_engine('mysql://newjoiner:newjoiner@localhost:3306/fanduel')

todays_date = datetime.now()
todays_date = todays_date.strftime('%Y-%m-%d')
yesterdays_date=(datetime.now()-timedelta(days=1)).strftime('%Y-%m-%d')
player_detail_query="""select pd.id, pd.player_id,pd.team_id, pd.game_id, pd.salary, 
pd.proj_score,pd.date,CONCAT(p.first_name,' ', p.last_name) as Name 
from player_detail pd inner join player p on pd.player_id=p.id 
WHERE date >= '{0}' AND date < '{1}'""".format(yesterdays_date,todays_date)
player_detail_df=pd.read_sql_query(player_detail_query, con=engine)
print(player_detail_df.head(5))

     id  player_id  team_id  game_id  salary  proj_score                date  \
0  1753       3648        2      165    6100          28 2019-02-11 06:00:00
1  1754       3649        2      165    5400          21 2019-02-11 06:00:00
2  1755       3650        2      165    3800          14 2019-02-11 06:00:00
3  1756       3651        2      165    4200          16 2019-02-11 06:00:00
4  1757       3654        2      165    7400          33 2019-02-11 06:00:00

              Name
0    Jarrett Allen
1  DeMarre Carroll
2     Allen Crabbe
3         Ed Davis
4   Kenneth Faried

- get list of team_ids to build filter for players of these teams
- join players with games and format names to swishananalytics format

- configure selenium and load page

In [10]:
#config section need to get rid of password
print(yesterdays_date)
points_url = "https://swishanalytics.com/optimus/nba/fanduel-draftkings-live-scoring?date={0}".format(yesterdays_date)
print(points_url)
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("C:\chromedriver_win32\chromedriver.exe",chrome_options=chrome_options)
driver.get(points_url)
time.sleep(1)

2019-02-11
https://swishanalytics.com/optimus/nba/fanduel-draftkings-live-scoring?date=2019-02-11

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: use options instead of chrome_options

- use selenoim to find and click button for fanduel table
- use pandas.io.html to load table
- join players with new salaries info
- format dataframe

In [11]:
driver.find_element_by_class_name("img-center").click()
points_list = pd.read_html(driver.page_source,attrs={'id': 'stat-table'} )
points=points_list[0]

points['Name'] = points['Name'].str.split(' ')
for index,row in points.iterrows():
    points.at[index,'Name']=" ".join(row['Name'][0:len(row['Name'])-1])
    points.at[index,'Pos']=row['Name'][-1].strip('()')


points.drop(
    columns=['Pos','Next Game','Salary','Min', 'Reb','Ast','Stl','Blk','TO','Value','Avg Pts', 'Live Proj','PTs'],
    inplace=True)
player_detail_df=player_detail_df.merge(points, left_on='Name', right_on='Name')
player_detail_df.rename(columns={'Live Pts':'act_score'},inplace=True)
print(player_detail_df.head(5))

     id  player_id  team_id  game_id  salary  proj_score                date  \
0  1753       3648        2      165    6100          28 2019-02-11 06:00:00
1  1755       3650        2      165    3800          14 2019-02-11 06:00:00
2  1756       3651        2      165    4200          16 2019-02-11 06:00:00
3  1757       3654        2      165    7400          33 2019-02-11 06:00:00
4  1758       3655        2      165    3600          12 2019-02-11 06:00:00

             Name  act_score
0   Jarrett Allen      24.25
1    Allen Crabbe      31.25
2        Ed Davis      14.50
3  Kenneth Faried      32.00
4  Treveon Graham       9.75

In [12]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import update
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)
player_detail=Base.classes.player_detail

session = Session(engine)

for index,row in player_detail_df.iterrows():
    print(row.id)
    print(row.act_score)
    session.query(player_detail).filter(player_detail.id == row.id).update({'act_score': row.act_score})
    session.commit()
    session.flush()

1753
24.25
1755
31.25
1756
14.5
1757
32.0
1758
9.75
1759
35.5
1760
12.0
1761
11.0
1762
13.5
1763
23.75
1764
60.25
1765
13.5
1766
18.25
1767
16.0
1768
12.75
1769
26.0
1770
12.25
1771
0.0
1772
27.5
1773
0.0
1774
9.0
1775
14.5
1776
0.0
1777
28.0
1778
42.0
1779
45.5
1780
32.5
1781
0.0
1782
9.75
1783
30.5
1784
0.0
1785
6.0
1786
0.0
1787
17.0
1788
0.0
1789
48.75
1790
24.5
1791
51.25
1792
8.25
1793
37.75
1794
26.0
1795
26.25
1796
0.0
1797
9.5
1798
26.25
1799
44.5
1800
16.0
1801
28.25
1804
0.0
1805
64.25
1806
11.0
1807
56.75
1808
25.5
1809
23.75
1811
6.75
1812
16.0
1813
29.0
1814
16.25
1815
0.0
1816
9.75
1817
7.5
1818
0.0
1819
0.0
1820
42.5
1821
29.5
1822
67.75
1823
26.75
1824
30.5
1825
6.5
1826
3.25
1827
0.0
1828
14.75
1829
15.75
1830
25.75
1831
11.5
1832
32.5
1833
10.5
1834
0.25
1835
0.0
1836
28.0
1837
28.5
1838
5.75
1840
43.5
1842
1.25
1843
30.5
1844
34.25
1845
24.25
1846
30.5
1847
0.0
1848
5.0
1849
28.75
1850
22.75
1851
20.25
1852
20.5
1853
35.75
1854
37.5
1855
42.5
1856
0.0
1857
42.5
1859
15.25
1860
25.5
1861
0.0
1862
23.25
1863
10.5
1864
88.5
1865
5.25
1866
11.75
1867
10.75
1869
63.0
1870
28.75
1871
9.5
1872
3.0
1873
11.75
1874
32.5
1875
8.25
1876
54.25
1877
31.0
1878
0.0
1879
10.0
1880
0.0
1881
17.25
1882
11.5
1883
6.5
1885
2.5
1886
5.25
1887
32.75
1888
1.25
1889
54.25
1890
27.75
1891
32.75
1892
11.25
1893
9.0
1894
0.0
1895
33.0
1896
20.0
1897
30.25
1898
24.75
1899
2.5
1900
17.25
1901
24.75
1902
18.0
1903
23.5
1904
45.75
1905
21.5
1906
0.0
1907
13.25
1908
0.0
1909
16.75
1910
7.25
1912
0.0
1913
20.25
1914
45.5
1915
28.5
1916
11.0
1917
30.0
1918
0.0
1920
7.5
1921
17.0
1922
26.75
1923
0.0
1924
0.0
1925
26.0
1926
30.0
1927
62.0
1928
12.0
1929
0.0
1930
16.25
1931
44.0
1932
9.75

- clean up inconsistencies

In [13]:

player_detail_query="select * from player_detail WHERE date >= '{0}' AND date < '{1}'".format(yesterdays_date,todays_date)
players=pd.read_sql_query(player_detail_query, con=engine)
print(players)

       id  player_id  team_id  game_id  salary  act_score  proj_score  \
0    1753       3648        2      165    6100       24.0          28
1    1754       3649        2      165    5400        NaN          21
2    1755       3650        2      165    3800       31.0          14
3    1756       3651        2      165    4200       14.0          16
4    1757       3654        2      165    7400       32.0          33
5    1758       3655        2      165    3600       10.0          12
6    1759       3656        2      165    5400       36.0          21
7    1760       3657        2      165    4200       12.0          17
8    1761       3658        2      165    3500       11.0          14
9    1762       3659        2      165    4900       14.0          18
10   1763       3661        2      165    5000       24.0          18
11   1764       3663        2      165    8600       60.0          38
12   1765       3666       20      159    5200       14.0          15
13   1766       3667       20      159    3700       18.0          17
14   1767       3668       20      159    5800       16.0          26
15   1768       3669       20      159    4600       13.0          21
16   1769       3672       20      159    4600       26.0          26
17   1770       3673       20      159    4500       12.0           3
18   1771       3674       20      159    3500        0.0           3
19   1772       3678       20      159    4800       28.0          17
20   1773       3679       20      159    3500        0.0           3
21   1774       3680       20      159    3600        9.0          19
22   1775       3681       20      159    4600       14.0          21
23   1776       3700       28      164    3500        0.0           1
24   1777       3701       28      164    4200       28.0          20
25   1778       3702       28      164    6600       42.0          33
26   1779       3703       28      164    9900       46.0          44
27   1780       3704       28      164    8200       32.0          33
28   1781       3705       28      164    3500        0.0           2
29   1782       3709       28      164    4000       10.0          14
..    ...        ...      ...      ...     ...        ...         ...
150  1903       4011       16      174    6000       24.0          29
151  1904       4029       30      161    6000       46.0          28
152  1905       4032       30      161    5100       22.0          19
153  1906       4033       30      161    3700        0.0           1
154  1907       4034       30      161    6000       13.0          19
155  1908       4036       30      161    3500        0.0           1
156  1909       4037       30      161    4000       17.0           3
157  1910       4040       30      161    3500        7.0          12
158  1911       4042       30      161    7000        NaN          26
159  1912       4047        7      169    3500        0.0           7
160  1913       4048        7      169    4900       20.0          21
161  1914       4049        7      169    9800       46.0          42
162  1915       4050        7      169    4800       28.0          22
163  1916       4051        7      169    3500       11.0           9
164  1917       4052        7      169    6600       30.0          29
165  1918       4054        7      169    3500        0.0           1
166  1919       4055        7      169    4200        NaN          14
167  1920       4057        7      169    3600        8.0          13
168  1921       4058        7      169    5800       17.0          23
169  1922       4063       11      168    3600       27.0          13
170  1923       4064       11      168    3500        0.0           2
171  1924       4065       11      168    3500        0.0           1
172  1925       4067       11      168    4700       26.0          24
173  1926       4068       11      168    4400       30.0          14
174  1927       4069       11      168   13300       62.0          61
175  1928       4070       11      168    3500       12.0           3
176  1929       4071       11      168    3500        0.0          10
177  1930       4073       11      168    3500       16.0           8
178  1931       4075       11      168    7800       44.0          34
179  1932       4076       11      168    3800       10.0          14

                   date
0   2019-02-11 06:00:00
1   2019-02-11 06:00:00
2   2019-02-11 06:00:00
3   2019-02-11 06:00:00
4   2019-02-11 06:00:00
5   2019-02-11 06:00:00
6   2019-02-11 06:00:00
7   2019-02-11 06:00:00
8   2019-02-11 06:00:00
9   2019-02-11 06:00:00
10  2019-02-11 06:00:00
11  2019-02-11 06:00:00
12  2019-02-11 06:00:00
13  2019-02-11 06:00:00
14  2019-02-11 06:00:00
15  2019-02-11 06:00:00
16  2019-02-11 06:00:00
17  2019-02-11 06:00:00
18  2019-02-11 06:00:00
19  2019-02-11 06:00:00
20  2019-02-11 06:00:00
21  2019-02-11 06:00:00
22  2019-02-11 06:00:00
23  2019-02-11 06:00:00
24  2019-02-11 06:00:00
25  2019-02-11 06:00:00
26  2019-02-11 06:00:00
27  2019-02-11 06:00:00
28  2019-02-11 06:00:00
29  2019-02-11 06:00:00
..                  ...
150 2019-02-11 08:00:00
151 2019-02-11 06:00:00
152 2019-02-11 06:00:00
153 2019-02-11 06:00:00
154 2019-02-11 06:00:00
155 2019-02-11 06:00:00
156 2019-02-11 06:00:00
157 2019-02-11 06:00:00
158 2019-02-11 06:00:00
159 2019-02-11 07:00:00
160 2019-02-11 07:00:00
161 2019-02-11 07:00:00
162 2019-02-11 07:00:00
163 2019-02-11 07:00:00
164 2019-02-11 07:00:00
165 2019-02-11 07:00:00
166 2019-02-11 07:00:00
167 2019-02-11 07:00:00
168 2019-02-11 07:00:00
169 2019-02-11 07:00:00
170 2019-02-11 07:00:00
171 2019-02-11 07:00:00
172 2019-02-11 07:00:00
173 2019-02-11 07:00:00
174 2019-02-11 07:00:00
175 2019-02-11 07:00:00
176 2019-02-11 07:00:00
177 2019-02-11 07:00:00
178 2019-02-11 07:00:00
179 2019-02-11 07:00:00

[180 rows x 8 columns]

- load dataframe into mySQ

In [14]:
players.to_sql(con=engine, name='player_detail', if_exists='append',index=False)

AttributeError: type object 'player_detail' has no attribute 'to_sql'